<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-accent-info">
        <div class="card-header">
          <button type="button" data-toggle="modal" *ngIf="isAddPermission" (click)="showAddModal()"
            class="btn btn-outline-primary"><i class="fa fa-plus-circle"></i> Ajouter Conducteur </button>
          <div class="card-header-actions">
            <app-dropdown-export (export)="exporter($event)"></app-dropdown-export>
            <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()">
              <i class="{{ iconCollapse }}  transition"></i>
            </button>
            <button type="button" class="card-header-action btn btn-link btn-close" (click)="reset()">
              <i class="icon-close"></i>
            </button>
          </div>
        </div>
        <div bsModal #primaryModal="bs-modal" *ngIf="isEditPermission" [config]="{backdrop: 'static', keyboard: false}"
          class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{mode}} Conducteur</h5>
                <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <tabset>
                  <div class="row">
                    <div class="col-md-12">
                      <alert type="success" onClosed="dismissedAlert" *ngIf="openAlert" dismissOnTimeout="5000">
                        Modification effectuée avec succes</alert>
                    </div>
                  </div>
                  <tab style="min-height: 600px" (selectTab)="selectTab(0)" [active]="selectedTab==0">
                    <ng-template tabHeading><i class="icon-list mr-1"></i> Informations général &nbsp;</ng-template>
                    <mat-progress-bar mode="indeterminate" *ngIf="modalLoading"></mat-progress-bar>
                    <div class="animated fadeIn">
                      <div class="row">
                        <div class="col-lg-6">

                          <div class="card-body">
                            <!-- <div class="form-group row">
                              <label class=" col-md-4 col-form-label" for="select1">Conducteur ID *</label>
                              <div class="col-8"> -->
                                <input type="hidden" [(ngModel)]="selectedDriver.driverID" [ngModelOptions]="{standalone: true}">
                              <!-- </div>
                            </div> -->
                            
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">Actif</label>
                            <div class="col-8">
                              <input id="s1" type="checkbox" [(ngModel)]="selectedDriver.dutyStatus"
                                [ngModelOptions]="{standalone: true}" class="switch" (ngModelChange)="activeStatechange()"/>
                              <label for="s1" class="ml-2">{{selectedDriver.dutyStatus==1?'Activé':'Désactivé'}}
                                &nbsp;</label>
                            </div>
                          </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Nom *</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.displayName"
                                  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Saisir le nom"
                                  required>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="phone">Numéro de téléphone </label>
                              <div class="col-8">
                                <input type="tel" pattern="[0-9]{10}" [(ngModel)]="selectedDriver.contactPhone"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir num de tel" required>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Email </label>
                              <div class="col-8">
                                <input type="email" [(ngModel)]="selectedDriver.contactEmail"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="xxxxxxxx@gmail.com" required>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Identifiant du badge</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.badgeID"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir Identifiant du Badge">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class=" col-md-4 col-form-label" for="text-input">Date de naissance</label>
                              <div class="col-8">
                                <input type="date" [(ngModel)]="selectedDriver.birthdateString"
                                  [ngModelOptions]="{standalone: true}" class="form-control">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Type de licence</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.licenseType"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir Type de Licence">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Numéro de licence</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.licenseNumber"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir Num de Licence">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class=" col-md-4 col-form-label" for="text-input">Expiration de le licence</label>
                              <div class="col-8">
                                <input type="date" [(ngModel)]="selectedDriver.licenseExpireString"
                                  [ngModelOptions]="{standalone: true}" class="form-control">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Titre de voiture</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.carTitle"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir le Titre de véhicule">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Description</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.description"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir une Description">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card-body">
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Plaque d'immatriculation</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.licensePlate"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir la plaque immatriculation">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class=" col-md-4 col-form-label" for="text-input">Date d'expiration de
                                l'assurance</label>
                              <div class="col-8">
                                <input type="date" [(ngModel)]="selectedDriver.insuranceExpireString"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Choisir la Date">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Addresse</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.address"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir l'Addresse'">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Restrictions</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.restrictions"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir les restrictions">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Notes Générales</label>
                              <div class="col-8">
                                <input type="text" [(ngModel)]="selectedDriver.notes"
                                  [ngModelOptions]="{standalone: true}" class="form-control"
                                  placeholder="Saisir notes générales">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label" for="text-input">Véhicule ID</label>
                              <div class="col input-group">
                                <my-dropdown-select class="form-control" [placeholder]="'Vehicules Selection'"
                                  [selectPlaceholder]="'search...'" [options]="devices" [display]="'name'"
                                  [value]="'dID'" [multiple]="false" [labelCount]="0"
                                  [selectedOptions]="selectedDeviceModalOption"
                                  (selectionChange)="getSelectedDeviceModal($event)">
                                </my-dropdown-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tab>
                  <tab style="min-height: 600px" (selectTab)="selectTab(1)" [active]="selectedTab==1">
                    <ng-template tabHeading><i class="icon--user-followin mr-1"></i> Documents Administartifs &nbsp;
                    </ng-template>
                    <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-1">
                        <div class="card">
                          <div class="card-header driverDocument">
                            <h5>Permis</h5>
                          </div>
                          <div class="card-body cardInfo">
                            <div class="input-group row mb-1">
                              <label for="numPermis" class="col-form-label col-md-4">N° Permis</label>
                              <input id="numPermis" [(ngModel)]="driverDocument.numPermis" type="text"
                                placeholder="N° Permis" class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <label for="typePermis" class="col-form-label col-md-4">Type de permis</label>
                              <mat-select id="typePermis" placeholder="Type Permis"
                                style="border: solid 1px lightgrey;padding-top: 5px;margin-top: 0px!important;border-radius: 4px;"
                                multiple class="mt-2 col-md-8" (valueChange)="getTypePermis($event)"
                                [(ngModel)]="typeSelected">
                                <mat-option *ngFor="let filters of cts.permisTypes" [value]="filters.value">
                                  {{filters.value}}
                                </mat-option>
                              </mat-select>
                            </div>
                            <div class="input-group row mb-1">
                              <label for="dateDelivrancePermis" class="col-form-label col-md-4">Date délivrance</label>
                              <input id="dateDelivrancePermis" [(ngModel)]="driverDocument.dateDelivrancePermis"
                                type="date" class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <label for="dateValiditePermis" class="col-form-label col-md-4">Date validité</label>
                              <input id="dateValiditePermis" [(ngModel)]="driverDocument.dateValiditePermis" type="date"
                                class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <span for="JoursPermis" class="col-form-label col-md-4">Rappel dans</span>
                              <input type="number" id="JoursPermis" class="form-control col-md-7" placeholder="0"
                                [(ngModel)]="driverDocument.rappelJoursPermis">
                              <span class="input-group-text col-md-1">jr(s)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-1">
                        <div class="card">
                          <div class="card-header driverDocument">
                            <h5>Passport</h5>
                          </div>
                          <div class="card-body cardInfo">
                            <div class="input-group row mb-1">
                              <label for="numPassport" class="col-form-label col-md-4">N° Passport</label>
                              <input id="numPassport" [(ngModel)]="driverDocument.numPassport" type="text"
                                placeholder="N° Passport" class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <label for="dateValiditePassport" class="col-form-label col-md-4">Date validité</label>
                              <input id="dateValiditePassport" [(ngModel)]="driverDocument.dateValiditePassport"
                                type="date" class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <span for="rapel" class="col-form-label col-md-4">Rappel dans</span>
                              <input type="number" id="rapelJoursPass" class="form-control col-md-7" placeholder="0"
                                [(ngModel)]="driverDocument.rappelJoursPasssport">
                              <span class="input-group-text col-md-1">jr(s)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-1">
                        <div class="card">
                          <div class="card-header driverDocument">
                            <h5>Assurance Voyage</h5>
                          </div>
                          <div class="card-body cardInfo">
                            <div class="input-group row mb-1">
                              <label for="numAssurance" class="col-form-label col-md-4">N° Assurance</label>
                              <input id="numAssurance" [(ngModel)]="driverDocument.numAssurance" type="text"
                                placeholder="N° Assurance" class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <label for="dateValiditeAssurance" class="col-form-label col-md-4">Date validité</label>
                              <input id="dateValiditeAssurance" [(ngModel)]="driverDocument.dateValiditeAssurance"
                                type="date" class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <span for="rapelJoursAssurance" class="col-form-label col-md-4">Rappel dans</span>
                              <input type="number" id="rapelJoursAssurance" class="form-control col-md-7"
                                placeholder="0" [(ngModel)]="driverDocument.rappelJoursAssurance">
                              <span class="input-group-text col-md-1">jr(s)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-1">
                        <div class="card">
                          <div class="card-header driverDocument">
                            <h5>ADR</h5>
                          </div>
                          <div class="card-body cardInfo">
                            <div class="input-group row mb-1">
                              <label for="numAdr" class="col-form-label col-md-4">N° ADR</label>
                              <input id="numAdr" [(ngModel)]="driverDocument.numAdr" placeholder="N° ADR" type="text"
                                class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <label for="dateValiditeAdr" class="col-form-label col-md-4">Date validité</label>
                              <input id="dateValiditeAdr" [(ngModel)]="driverDocument.dateValiditeAdr" type="date"
                                class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <span for="rappelJoursAdr" class="col-form-label col-md-4">Rappel dans</span>
                              <input type="number" id="rappelJoursAdr" class="form-control col-md-7" placeholder="0"
                                [(ngModel)]="driverDocument.rappelJoursAdr">
                              <span class="input-group-text col-md-1">jr(s)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-1">
                        <div class="card">
                          <div class="card-header driverDocument">
                            <h5>Visa</h5>
                          </div>
                          <div class="card-body cardInfo">
                            <div class="input-group row mb-1">
                              <label for="numVisa" class="col-form-label col-md-4">N° Visa</label>
                              <input id="numVisa" [(ngModel)]="driverDocument.numVisa" type="text" placeholder="N° Visa"
                                class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <label for="dateValiditeVisa" class="col-form-label col-md-4">Date validité</label>
                              <input id="dateValiditeVisa" [(ngModel)]="driverDocument.dateValiditeVisa" type="date"
                                class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <span for="rapelJoursVisa" class="col-form-label col-md-4">Rappel dans</span>
                              <input type="number" id="rapelJoursVisa" class="form-control col-md-7" placeholder="0"
                                [(ngModel)]="driverDocument.rappelJoursVisa">
                              <span class="input-group-text col-md-1">jr(s)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-1">
                        <div class="card">
                          <div class="card-header driverDocument">
                            <h5>Visit Médical</h5>
                          </div>
                          <div class="card-body cardInfo">
                            <div class="input-group row mb-1">
                              <label for="dateValiditeVisit" class="col-form-label col-md-4">Date validité</label>
                              <input id="dateValiditeVisit" [(ngModel)]="driverDocument.dateValiditeVisit" type="date"
                                class="form-control col-md-8">
                            </div>
                            <div class="input-group row mb-1">
                              <span for="rappelJoursVisit" class="col-form-label col-md-4">Rappel dans</span>
                              <input type="number" id="rappelJoursVisit" class="form-control col-md-7" placeholder="0"
                                [(ngModel)]="driverDocument.rappelJoursVisit">
                              <span class="input-group-text col-md-1">jr(s)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tab>
                </tabset>
              </div>
              <div class="modal-footer" style="justify-content: left;display: initial;">
                <mat-hint class="text-danger">{{errorMsg}}</mat-hint>
                <button type="button" class="btn btn-primary float-right" (click)="submit()">{{mode}}</button>
                <button type="button" class="btn btn-secondary float-right"
                  (click)="primaryModal.hide()">Fermer</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div [collapse]="isCollapsed" [isAnimated]="true" class="card-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-5">
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-car fa-sm"></i></span>
                    </div>
                    <my-dropdown-select class="form-control" [placeholder]="'Sélection de véhicule'"
                      [selectPlaceholder]="'search...'" [errorMsg]="errorMessageDevice" [showErrorMsg]="showErrorDevice"
                      [options]="devices" [display]="'name'" [value]="'dID'" [multiple]="false" [labelCount]="0"
                      [selectedOptions]="selectedDevices" (selectionChange)="getSelectedDevices($event)">
                    </my-dropdown-select>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-key fa-sm" *ngIf="selectedDevice == null"></i><i
                          *ngIf="selectedDevice != null">{{selectedDevice}}</i></span>
                    </div>
                  </div>
                  <!--</div> -->
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-sm btn-primary" (click)="loadData()" [disabled]="loading">
                  <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
                  <i class="fa fa-circle-o-notch fa-lg mr-2 fa-spin" *ngIf="loading"></i> &nbsp;Appliquer
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->


  <div class="row">
    <div class="col-lg-12">
      <my-gestiondriver-table (modify)="loadModify($event)" (delete)="delete($event)" [data]="data"
        [isEditPermission]="isEditPermission">
      </my-gestiondriver-table>
    </div>
  </div>
</div>