.permis {
    width: 60px;
    /* display: block; */
    height: 10px;
}

.etoile {
    color: red;
    font-weight: bold;
}

.driverDocument {
    background-color: #20a8d8;
    color: white;
}

.cardInfo {
    min-height: 245px;
}

alert {
    z-index: 10000;
    // width: 40%;
    // position: absolute;
    // left: 57%
}