<div class="card card-accent" style="min-height: 660px">
  <!--secondary-->
  <div class="card-header">
    <div class="row">
      <div class="form-horizontal col-md-6">
        <div class="input-group">
          <div class="input-group-prepend" dropdown>
            <button type="button" class="btn btn-primary">Search</button>
            <button
              type="button"
              dropdownToggle
              class="btn btn-primary dropdown-toggle dropdown-toggle-split"
            >
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" href="#">Action prepend</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link 2</a>
            </div>
          </div>
          <input
            type="text"
            id="input3-group3"
            name="input3-group3"
            class="form-control"
            placeholder="..."
            (keyup)="applyFilter($event)"
            #input
          />
          <div class="input-group-append">
            <button type="button" class="btn btn-primary">Action</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="selectedparam1">
          <input ng-model="getSelectedparams1"/>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>selectedparam1</th>
          <td mat-cell *matCellDef="let element">{{ element['selectedparam1']  }}</td>
        </ng-container>

        <ng-container matColumnDef="selectedparam2">
          <input ng-model="getSelectedparams2"/>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>selectedparam1</th>
          <td mat-cell *matCellDef="let element">{{ element['selectedparam2'] }}</td>
        </ng-container>

        <ng-container matColumnDef="selectedparam3">
          <input ng-model="getSelectedparams3"/>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>selectedparam1</th>
          <td mat-cell *matCellDef="let element">{{ element['selectedparam3']  }}</td>
        </ng-container>

        <ng-container matColumnDef="selectedparam4">
          <input ng-model="getSelectedparams4"/>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>selectedparam1</th>
          <td mat-cell *matCellDef="let element">{{ element['selectedparam4'] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: getColumns()"
          (click)="onRowClicked(row)"
        ></tr>
      </table>
  </div>
  <div class="card-footer"> 
      <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons [pageSize]="selectedPageSize"> </mat-paginator>
  </div>
</div>
