table {
    width: 100%;
    padding-bottom: 20px;
}

.colture {
    background-color: rgb(71, 245, 71);
    color: #022002;
    padding: 6px;
    border-radius: 4px;
}

.encours {
    background-color: rgb(247, 113, 36);
    color: #022002;
    padding: 6px;
    border-radius: 4px;
}

.degatType {
    height: 27px;
    width: 34px;
    margin-top: 7px;
    background-repeat: no-repeat;
    background-size: contain
}

.cloturerBtn {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
}