<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-accent-info">
        <div class="card-header">
          <button type="button" data-toggle="modal" (click)="showAddModal()" *ngIf="isAddPermission" class="btn btn-outline-primary"><i
            class="fa fa-plus-circle"></i> Ajouter un passager </button>
          <div class="card-header-actions">
            <button class="btn text-primary mr-2" (click)="loadData(true)" [disabled]="loading">
              <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
              <i class="fa fa-circle-o-notch fa-lg mr-1 fa-spin" *ngIf="loading"></i> &nbsp;Actualiser
            </button>
            <app-dropdown-export (export)="exporter($event)" ></app-dropdown-export>
            <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()">
              <i class="{{ iconCollapse }}  transition"></i>
            </button>
            <button type="button" class="card-header-action btn btn-link btn-close" (click)="reset()">
              <i class="icon-close"></i>
            </button>
          </div>
        </div>
        <div [collapse]="isCollapsed" [isAnimated]="true" class="card-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-5">
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                  <my-dropdown-select class="form-control" [placeholder]="'Sélection un client'"
                      [selectPlaceholder]="'search...'" [errorMsg]="errorMessageClient" [showErrorMsg]="showErrorClient"
                      [options]="Clients" [display]="'client'" [value]="'client'" [multiple]="false" [labelCount]="0"
                      [selectedOptions]="selectedClients" (selectionChange)="getSelectedClients($event)" >
                    </my-dropdown-select>
                    <div class="input-group-append">
                      <span  type="button" class="card-header-action btn btn-link btn-close" (click)="resetClient()">
                        <i class="fa fa-times"></i></span>
                    </div>
              </div>
                </div>
              </div>

              <div class="col-md-5">
                <div class="controls">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-home"></i></span>
                        </div>
  <my-dropdown-select class="form-control" [placeholder]="'Sélection une ville'"
  [selectPlaceholder]="'search...'" [errorMsg]="errorMessageCity" [showErrorMsg]="showErrorCity"
 [options]="City" [display]="'city'" [value]="'city'" [multiple]="false" [labelCount]="0"
[selectedOptions]="selectedCitys" (selectionChange)="getSelectedCites($event)" > </my-dropdown-select>
<div class="input-group-append">
<span  type="button" class="card-header-action btn btn-link btn-close" (click)="resetCity()">
             <i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
            </div>

              <div class="form-actions">
                <button type="submit" class="btn btn-sm btn-primary" (click)="loadData(false)" [disabled]="loading">
                  <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
                  <i class="fa fa-circle-o-notch fa-lg mr-2 fa-spin" *ngIf="loading"></i> &nbsp;Appliquer
                </button>
              </div>
            </div>

          </form>
        </div>
          <form class="form-horizontal">
            <div class="row">
              <div class="col-lg-12">
                <app-passager-table (modify)="loadModify($event)" (delete)="delete($event)" [data]="data" [isEditPermission]="isEditPermission">
                </app-passager-table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

<div bsModal #primaryModal="bs-modal" *ngIf="isEditPermission" [config]="{backdrop: 'static', keyboard: false}" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{mode}} passager</h5>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-progress-bar mode="indeterminate" *ngIf="modalLoading"></mat-progress-bar>
        <div class="animated fadeIn">
          <div class="row">

            <div class="col-lg-6">
              <div class="card-body">
                <input type="hidden" [(ngModel)]="selectedPassager.id" [ngModelOptions]="{standalone: true}">

                <div class="form-group row">
                  <label class="col-md-5 col-form-label" for="text-input">Code*</label>
                  <div class="col-6">
                    <input type="text" [(ngModel)]="selectedPassager.code"
                           [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Saisir code">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-5 col-form-label" for="text-input">Nom*</label>
                  <div class="col-6">
                    <input type="text" [(ngModel)]="selectedPassager.lastName"
                           [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Saisir un nom" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-5 col-form-label" for="text-input">Prénom *</label>
                  <div class="col-6">
                    <input type="text" [(ngModel)]="selectedPassager.FirstName"
                           [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Saisir un prénom" required>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-5 col-form-label" for="text-input">CIN*</label>
                  <div class="col-6">
                    <input type="text" [(ngModel)]="selectedPassager.cin"
                           [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Saisir CIN">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-5 col-form-label" for="text-input">Téléphone *</label>
                  <div class="col-6">
                    <input type="text" [(ngModel)]="selectedPassager.tel"
                           [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Saisir téléphone">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-md-5 col-form-label" for="text-input">Adresse</label>
                  <div class="col-6">
                    <input type="text" [(ngModel)]="selectedPassager.address"
                           [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Saisir une adresse">
                  </div>
                </div>
                  <div class="form-group row">
                  <label class="col-md-5 col-form-label" for="select1">Pays</label>
                  <div class="col-6">
                    <my-dropdown-select class="form-control" [placeholder]="'Dépôt'" [selectPlaceholder]="'search...'"
                    [options]="countries" [display]="'description'" [value]="'id'" [multiple]="false" [labelCount]="0"
                    [selectedOptions]="selectedPassager.country" (selectionChange)="getSelectedCity($event)">
                  </my-dropdown-select>
                      </div>
                    </div>
              <div class="form-group row">
                <label class="col-md-5 col-form-label" for="text-input">Ville</label>
                <div class="col-6">
                  <input type="text" [(ngModel)]="selectedPassager.city"
                         [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Saisir une ville">
                </div>
              </div>
                <div class="form-group row">
                  <label class="col-md-5 col-form-label" for="text-input">coordonne Gps</label>
                  <div class="col-6">
                    <input type="text" [(ngModel)]="selectedPassager.cood_gps"
                           [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Saisir coordonne GPS">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-5 col-form-label" for="select1">Client</label>
                  <div class="col-6">
                  <my-dropdown-select class="form-control" [placeholder]="'client'" [selectPlaceholder]="'search...'"
                    [options]="suppliers" [display]="'Company'" [value]="'id'" [multiple]="false" [labelCount]="0"
                    [selectedOptions]="selectedPassager.client" (selectionChange)="getSelectedSupplier($event)">

                  </my-dropdown-select>
                      </div>
                      </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="justify-content: left;display: initial;">
        <mat-hint class="text-danger">{{errorMsg}}</mat-hint>
        <button type="button" class="btn btn-primary float-right" (click)="submit()">{{mode}}</button>
        <button type="button" class="btn btn-secondary float-right" (click)="primaryModal.hide()">Fermer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->