table {
    width: 100%;
    padding-bottom: 20px;
}

.card-body {
    padding: 1.25rem 0;
}

.mat-icon-button {
    background: transparent;
}

.mat-icon-button:focus {
    background: transparent;
    outline: 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border: 1px solid #ebebeb;
    // border-width: 1px;
    padding: 8px 5px;
}

th.mat-header-cell:first-child,
td.mat-cell:first-child,
td.mat-footer-cell:first-child {
    border: 1px solid #ebebeb;
}

.mat-header-row {
    height: auto;
    line-height: 2;
    background-image: -webkit-linear-gradient(top, #fff, #e3e3e3);
}

.mat-row {
    height: auto;
    line-height: 2.5;
}

.mat-row:nth-child(even) {
    background-color: #f4f4f4;
}
.actionBtn {
    line-height: initial;
    padding: 5px 8px;
}