<mat-form-field appearance="fill" class="w-100">
  <mat-select #selectElem [placeholder]="placeholder" [formControl]="formControl" [multiple]="false"
    [(ngModel)]="selectedValue" (selectionChange)="onSelectionChange($event)">
    <div class="box-search">
      <input #searchInput type="text" (input)="filterItem(searchInput.value)" [placeholder]="selectPlaceholder" />
      <div class="box-close-icon" (click)="filterItem('',true); searchInput.value = ''">
        <button class="close-button">
          x
        </button>
      </div>
    </div>
    <mat-select-trigger>
      {{ onDisplayString() }}
    </mat-select-trigger>
    <mat-option *ngFor="let option of options;let index=index; trackBy: trackByFn" [disabled]="index==0?true:false"
      [ngClass]="index==0?'h-100':''" [value]="index">{{
      option['label'] }}
    </mat-option>
  </mat-select>
</mat-form-field>