<div [ngClass]="!isFirstTime? '': 'invisible'" class="animated fadeIn" id="container"
  style="width: 100%; height: 82vh;">
  <button id="mapfullScreenControl" *ngIf="showFullScreenControle" title="Enter FullScreen"
    class="control-fullscreen-button" (click)="toggleMapFullscreen()"></button>
  <button id="positionControl" *ngIf="showPositionControle" title="My Postion"
    class="control-position-button icon-target" (click)="toggleMyPosition()"></button>
  <button id="resetConrtol" title="Default View" class="control-position-button icon-close text-danger"
    [ngClass]="selectedVehiculeIndex==-1 ? 'd-none':''" (click)="reset()"></button>
    <button *ngIf="showCollapsControle" title="Expande list" class="mcontrol icon-arrow-right"
                    id="list-Expand" (click)="expandClicked()"></button>
  <as-split #mySplit direction="horizontal" [useTransition]="true" (gutterClick)="resetSize($event)" (dragEnd)="onDragEnd($event)" (transitionEnd)="invalidate()">
    <as-split-area [size]="size[0]" [order]="1" > 
      <div class="list-vehicules">
      <my-table [vehicules]="vehicules" (rowClicked)="rowClicked($event)"  (collapse)="collapseClicked()"></my-table>
    </div>
    </as-split-area>
    <as-split-area [size]="size[1]" [order]="2" >
      <div class="my-map">
      <div class="card-body" id="map"></div>
    </div>
    </as-split-area>
  </as-split>
</div>
<img src="assets/gif/loading.gif" alt="Loading" *ngIf="isFirstTime" class="loadinger" />