<div class="app-body">
  <main class="main d-flex align-items-center bg-style">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Connexion</h1>
                  <p class="text-muted">Connectez-vous à votre compte</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-shield"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Account" (keyup.enter)="signin()" [(ngModel)]="accountid"
                      [ngModelOptions]="{standalone: true}" autocomplete="account" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="User" (keyup.enter)="signin()" [(ngModel)]="user"
                      [ngModelOptions]="{standalone: true}" autocomplete="user" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [type]="passVisible?'text':'password'" class="form-control" placeholder="Password" [(ngModel)]="password"
                      [ngModelOptions]="{standalone: true}" (keyup.enter)="signin()" autocomplete="current-password" required>
                    <div class="input-group-append" (click)="passVisible=!passVisible"><span class="input-group-text"><i
                          class="fa fa-eye{{passVisible?'-slash':''}}"></i></span></div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-12">
                      <small class="text-danger">{{ errorMessage }}</small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="signin()"><i
                          class="fa fa-circle-o-notch fa-lg mr-2 fa-spin" *ngIf="loading"></i>Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <a type="button" class="btn btn-link px-0" [routerLink]="['/register']">Mot de passe oublié?</a>
                    </div>
                  </div>
                  <div class="row mt-4 ml-2">
                    <input id="s1" type="checkbox" class="switch" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}">
                    <label for="s1" class="ml-2">Se souvenir &nbsp;</label>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sendatrack ® </h2>
                  <p>Fournisseur agrée des solutions GPS au Maroc</p><br>
                  <p class="text-muted">Géolocalisation et suivi de flottes de véhicules par GPS … </p>
                  <p class="text-muted"> Solution innovante développée dans son intégralité par une équipe 100%
                    marocaine.</p><br>
                  <a type="button" class="btn btn-primary active mt-3" target="_blank"
                    href="https://www.sendatrack.ma/demande-de-devis/">Demande de devis!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>