<div class="card card-accent-info" style="min-height: 660px">
  <!--secondary-->
  <div class="card-body">
    <div class="form-horizontal mb-2 col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Rechercher..." (keyup)="applyFilter($event)" #input />
        <div class="input-group-append">
          <div class="btn bg-secondary"><i class="fa fa-search"></i></div>
        </div>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container *ngFor="let column of displayedColumns; let index = index" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ columnNames[index] | uppercase }}
        </th>
        <td mat-cell *matCellDef="let salle">
          <div *ngIf="column=='actions' && isEditPermission">
            <button type="button" title="Modifier"
              (click)="modif([salle['groupID'],salle['description'],salle['displayName']])"
              class="btn rounded m-1 btn-primary"><i class="cil-pen"></i></button>
            <button type="button" title="Supprimer" (click)="supp(salle['groupID'])"
              class="btn rounded m-1 btn-danger"><i class="cil-trash"></i></button>
          </div>
          {{ column!='actions'?salle[column]:'' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr>
    </table>
  </div>
  <div class="card-footer">
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons [pageSize]="selectedPageSize">
    </mat-paginator>
  </div>
</div>