<div class="animated fadeIn">
    <button id="mapfullScreenControl" *ngIf="showFullScreenControle" title="Enter FullScreen"
        class="control-fullscreen-button" (click)="toggleMapFullscreen()"></button>
    <button id="positionControl" *ngIf="showPositionControle" title="My Postion"
        class="control-position-button icon-target" (click)="toggleMyPosition()"></button>
    <div class="row">
        <as-split #mySplit direction="horizontal" [useTransition]="true" (gutterClick)="resetSize($event)"
            (dragEnd)="onDragEnd($event)" (transitionEnd)="invalidate()">
            <as-split-area [size]="size[0]" [order]="1" style="overflow: hidden;">
                <div class="zones-tabs">
            <mat-hint class="text-danger">{{errorMsg}}</mat-hint>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            <tabset>
                <tab [active]="mode == 'list' " (selectTab)="selectTab('list')">
                    <ng-template tabHeading><i class="cil-list" style="vertical-align: middle;"></i> | Zones
                    </ng-template>
                    <div class="card-header bg-white p-0 pb-2">
                        <div class="row align-items-center w-100 m-0">
                            <div class="col-md-4 d-flex justify-content-start p-1">
                                <my-dropdown-checkbox *ngIf="showColumnsControle" title="Show Columns" class=""
                                    id="list-columns" [options]="columns" [selected]="displayedColumns"
                                    (changeDisplayedColumn)="changeDisplayedColumn($event)">
                                </my-dropdown-checkbox>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group form-inline align-items-center">
                                    <span class="input-group-prepend mr-2 icon-magnifier"></span>
                                    <input type="text" id="input1-group2" name="input1-group2"
                                        placeholder="Rechercher..." class="form-control" (keyup)="search($event)"
                                        #input />
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="card-body p-0">
                        <table class="w-100" mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                                <td mat-cell *matCellDef="let zone">
                                    <button class="btn btn-link text-dark p-0 mr-2"
                                        (click)="editZone(zone); $event.stopPropagation();">
                                        <i class="fa fa-edit h4 my-auto"></i>
                                    </button>
                                    <button class="btn btn-link text-danger p-0" (click)="delete(zone.geozoneID); $event.stopPropagation();">
                                        <i class="fa fa-trash h4 my-auto"></i>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                                <td mat-cell *matCellDef="let zone">
                                    <ng-container>
                                        <i *ngIf="zone.isActive" class="fa fa-circle text-success status-cercle"></i>
                                        <i *ngIf="!zone.isActive" class="fa fa-circle text-danger status-cercle"></i>
                                    </ng-container>
                                    {{ zone.description }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="creationTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de création</th>
                                <td mat-cell *matCellDef="let zone">
                                    {{ zone.creationTime | date:'dd - MM - yyyy' }}
                            </ng-container>

                            <ng-container matColumnDef="clientID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
                                <td mat-cell *matCellDef="let zone">
                                    {{ zone.clientID }}
                            </ng-container>

                            <ng-container matColumnDef="groupID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Groupe</th>
                                <td mat-cell *matCellDef="let zone">
                                    {{ zone.groupID }}
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let zone;let index = index; columns: displayedColumns"
                                (click)="onRowClicked(index, zone)"></tr>

                        </table>
                    </div>
                </tab>

                <tab [active]="mode == 'create' || mode == 'edit' "
                    (selectTab)="mode != 'edit' ? selectTab('create'):selectTab('edit')">
                    <ng-template tabHeading>
                        <i class="cil-plus" style="vertical-align: middle;"></i> | {{mode ==
                        'edit'?'Modifier':'Ajouter'}}
                    </ng-template>
                    <input type="text" class="form-control w-100 my-2 px-1" placeholder="Description"
                        [ngModelOptions]="{ standalone: true }" [(ngModel)]="selectedZone.description">
                        <input class="form-check-input switch mx-2 mb-4 " type="checkbox" id="sw1" [(ngModel)]="selectedZone.reverseGeocode"
                            [ngModelOptions]="{standalone: true}"><label for="sw1" class="ml-2">
                            Géocodage inversé&nbsp;</label>
                    <mat-form-field *ngIf="selectedZone?.zoneType==4" appearance="fill" class="w-100 px-1 bg-white">
                        <mat-label>Selectionner une icon</mat-label>
                        <mat-select [(value)]="selectedZone.iconName" (selectionChange)="onIconChange($event)">
                            <mat-option *ngFor="let type of cts.zoneIcons" [value]="type.name">
                                <div class="d-flex justify-content">
                                    <span class="mr-4">
                                        <div
                                            style="background-image: url('assets/img/POI/{{type.name}}.png');height: 34px;width: 34px;background-repeat: no-repeat;background-size: contain;">
                                        </div>
                                    </span>
                                    <span>
                                        {{ type.name | uppercase }}
                                    </span>
                                    </div>
                                    </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                    <!--  -->
                    <!-- <ng-container *ngIf="selectedType == 'circle'">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Rayon (en mètres)</mat-label>
                                <input matInput type="number" formControlName="radius">
                            </mat-form-field>
                        </ng-container> -->
                        <div class="d-flex justify-content-end mb-4">
                        <button class="btn btn-sm btn-success mr-2" [disabled]="isDrawing || selectedZone.latitude1 == null" (click)="apply()">
                            <i class="fa fa-check"></i>
                            Appliquer
                        </button>
                        <button class="btn btn-sm btn-danger" type="button" (click)="resetZoneForm(true)">
                            <i class="fa fa-close"></i>
                            Clear
                            </button>
                        </div>

                </tab>
            </tabset>
        </div>
        </as-split-area>

        <as-split-area [size]="size[1]" [order]="2">
        <div class="flex-grow-1 my-map">
            <div class="card-body" id="map"></div>
        </div>
        </as-split-area>
        </as-split>
    </div>
</div>