<app-header [navbarBrandRouterLink]="['/map']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo_sidenav_brand.png', width: 95, height: 60, alt: 'Sendatrack Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/senda-track-logo.png', width: 40, height: 40, alt: 'Sendatrack Logo'}"
  ><!--[sidebarToggler]="'lg'" [asideMenuToggler]="'lg'"-->
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3" *ngIf="Dashboard">
      <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="nav-item px-3" *ngIf="Map_Vehicules">
      <a class="nav-link" [routerLink]="['/map']">Map</a>
    </li>
    <li class="nav-item px-3" *ngIf="Rapports_RapportsDetailles">
      <a class="nav-link" [routerLink]="['/rapports']">Rapports</a>
    </li>
    <li class="nav-item px-3"  *ngIf="Parametrage_Vehicules">
      <a class="nav-link" [routerLink]="['/parametrage/gestionvehicule']">Véhicules</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" *ngIf="Notifications" dropdown placement="bottom">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{notifs.total}}</span>
      </a>
      <!-- route param: tab is the index of tab in notifications page -->
      <div class="dropdown-menu dropdown-menu-center" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Alerts</strong></div>
        <a class="dropdown-item" [routerLink]="['/notifications/alerts']" [queryParams]="{ tab: 0 }"><i class="fa fa-tachometer"></i> Vitesse<span
          class="badge badge-info">{{notifs.v}}</span></a>
          <a class="dropdown-item" [routerLink]="['/notifications/alerts']" [queryParams]="{ tab: 1 }"><i class="fa fa-wrench"></i> Maintenance<span
              class="badge badge-warning">{{notifs.maintenance}}</span></a>
        <a class="dropdown-item" [routerLink]="['/notifications/alerts']" [queryParams]="{ tab: 2 }"><i class="fa fa-map-signs"></i>Zone<span
            class="badge badge-danger">{{notifs.z}}</span></a>
        <a class="dropdown-item" [routerLink]="['/notifications/alerts']" [queryParams]="{ tab: 3 }"><i class="fa fa-key"></i> Démarrage<span
            class="badge badge-success">{{notifs.d}}</span></a>
        <a class="dropdown-item" [routerLink]="['/notifications/alerts']" [queryParams]="{ tab: 4 }"><i class="fa fa-bell"></i> Autres<span
            class="badge badge-warning">{{notifs.other}}</span></a>
      </div>
    </li>
    <li class="nav-item d-md-down-none" *ngIf="Parametrage_Vehicules" >
      <a class="nav-link" [routerLink]="['/parametrage/gestionvehicule']"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none" *ngIf="Map_Vehicules" >
      <a class="nav-link" [routerLink]="['/map']"><i class="icon-location-pin"></i></a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="{{ username }}" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center">{{compte}} : <strong>{{ username }} </strong></div>
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span
            class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span
            class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span
            class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span
            class="badge badge-warning">42</span></a> -->
        <!-- <div class="dropdown-header text-center"><strong>Settings</strong></div> -->
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span
                                                    class="badge badge-primary">42</span></a> -->
        <div class="divider"></div>
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a> -->
        <a class="dropdown-item" id="logoutBtn" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main mt-2">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="https://www.sendatrack.ma/">Senda Track</a> &copy; 2022. All Rights Reserved..</span>
</app-footer>