<div class="animated fadeIn">
    <button id="mapfullScreenControl" *ngIf="showFullScreenControle && isPermitted" title="Enter FullScreen"
        class="control-fullscreen-button" (click)="toggleMapFullscreen()"></button>
    <button id="positionControl" *ngIf="showPositionControle && isPermitted" title="My Postion"
        class="control-position-button icon-target" (click)="toggleMyPosition()"></button>
    <div class="app-header" style="position: initial;">
        <a class="navbar-brand w-100" style="position: initial; margin-left: 0px; left: 0px;" href="#/map">
            <img src="assets/img/brand/logo_sidenav_brand.png" width="95" height="60" alt="Sendatrack Logo"
                class="navbar-brand-full ml-2">
            <img src="assets/img/brand/senda-track-logo.png" width="40" height="40" alt="Sendatrack Logo"
                class="navbar-brand-minimized ml-2">
            <h4 class="nav ml-auto mr-3" style="width: 250px;float: right;align-items: center;flex-direction: column;">
                {{exp>0?tools.formatDuree(exp):'Expiré'}}</h4>
        </a>
    </div>
    <div *ngIf="isPermitted" id="map"></div>
    <div *ngIf="!isPermitted" class="text-center align-middle w-100"
        style="height: calc(100vh - 85px)!important;padding-top: 100px; z-index: 500000;background-color: rgba(112, 128, 144, 0.508);">
        <h2 class=" align-middle">Le jeton fourni est incorrect ou expiré!</h2>
    </div>
    <div class="app-footer"><span><a href="https://www.sendatrack.ma/">Senda Track</a> © 2022 All Rights
            Reserved.</span></div>
</div>