<div class="animated fadeIn" id="container" style="width: 100%; height: 87vh;">
  <button id="mapfullScreenControl" *ngIf="showFullScreenControle" title="Enter FullScreen"
    class="control-fullscreen-button" (click)="toggleMapFullscreen()"></button>
  <button id="positionControl" *ngIf="showPositionControle" title="My Postion"
    class="control-position-button icon-target" (click)="toggleMyPosition()"></button>
  <button *ngIf="showCollapsControle" title="Expande list" class="mcontrol icon-arrow-right" id="list-Expand"
    (click)="expandClicked()"></button>
  <as-split #mySplit direction="horizontal" [useTransition]="true" (gutterClick)="resetSize()"
    (dragEnd)="onDragEnd($event)" (transitionEnd)="invalidate()">
    <as-split-area [size]="size[0]" [order]="1"> <!--style="overflow: hidden;"-->
      <div class="list-timelines">
        <div class="mt-auto card">
          <div class="card-header p-1">
            <div class="btn btn-outline-primary mb-1 p-1 border-0" title="Back" style="font-size: large;font-weight: 900;cursor: pointer;"
              (click)="router.navigate(['/map'])"><i class="icon-arrow-left"></i>
            </div>
            <div class="px-2 py-1 m-0 h6 float-right text-primary">{{vName}}</div>
            <my-daterangepicker #calendar [ngModelOptions]="{ standalone: true }" [(ngModel)]="value"
              [options]="myDateRangePickerOptions"></my-daterangepicker>
            <div class="row m-0">
              <div class="col-6">
                <input id="s1111" type="checkbox" class="switch" [(ngModel)]="showAllPoints"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="showAllPointscheckbox()">
                <label for="s1111" class="ml-2">Afficher tous les points &nbsp;</label>
              </div>
              <div class="btn btn-primary col-6" style="cursor: pointer;" (click)="loadData()"><i
                  class="fa fa-dot-circle-o"></i> &nbsp;Appliquer (Max 10 jours)</div>
            </div>
          </div>
          <div class="card-body p-0">
            <mat-progress-bar mode="indeterminate" *ngIf="loadingEvents"></mat-progress-bar>
            <div class="row mx-auto px-0 mt-1 w-100 justify-content-center">
              <div class="col-4 col-md-4">
                <div class="card mb-1 border-0">
                  <div class="card-header bg-green text-white text-center p-1" style="border-radius: 10px;">
                    En Route
                  </div>
                  <div class="card-body text-center p-1"
                    style="overflow-y: auto;border: 1px solid #aaa;border-radius: 12px;"><i
                      class="nav-icon icon-speedometer h6 text-green">&nbsp;{{resume.dureeMoving}}</i></div>
                </div>
              </div>
              <div class="col-4 col-md-4">
                <div class="card mb-1 border-0">
                  <div class="card-header bg-warning text-white text-center p-1" style="border-radius: 10px;">
                    Moteur ON
                  </div>
                  <div class="card-body text-center p-1"
                    style="overflow-y: auto;border: 1px solid #aaa;border-radius: 12px;"><i
                      class="nav-icon icon-speedometer h6 text-warning">&nbsp;{{resume.dureeON}}</i></div>
                </div>
              </div>
              <div class="col-4 col-md-4">
                <div class="card mb-1 border-0">
                  <div class="card-header bg-red text-white text-center p-1" style="border-radius: 10px;">
                    Moteur OFF
                  </div>
                  <div class="card-body text-center p-1"
                    style="overflow-y: auto;border: 1px solid #aaa;border-radius: 12px;"><i
                      class="nav-icon icon-speedometer h6 text-red">&nbsp;{{resume.dureeOFF}}</i></div>
                </div>
              </div>
            </div>
            <div class="row mx-auto px-0 w-100 justify-content-center">
              <div class="col-4 col-md-4">
                <div class="card mb-1 border-0">
                  <div class="card-header bg-primary text-white text-center p-1">
                    Odometre
                  </div>
                  <div class="card-body text-center p-1"
                    style="overflow-y: auto;border: 1px solid #aaa;border-radius: 12px;"><i
                      class="nav-icon icon-speedometer h6 text-primary">&nbsp;{{resume.odometer}} KM</i></div>
                </div>
              </div>
              <div class="col-4 col-md-4">
                <div class="card mb-1 border-0">
                  <div class="card-header bg-primary text-white text-center p-1">
                    Kilométrage parcouru
                  </div>
                  <div class="card-body text-center p-1"
                    style="overflow-y: auto;border: 1px solid #aaa;border-radius: 12px;"><i
                      class="nav-icon icon-graph h6 text-primary">&nbsp;{{resume.kmParcoure}} KM</i></div>
                </div>
              </div>
              <div class="col-4 col-md-4">
                <div class="card mb-1 border-0">
                  <div class="card-header bg-blue text-white text-center p-1">
                    Vitesse Max
                  </div>
                  <div class="card-body text-center p-1"
                    style="overflow-y: auto;border: 1px solid #aaa;border-radius: 12px;"><i
                      class="fa fa-tachometer h6 m-0 text-blue">&nbsp;{{resume.maxVitesse}} KM/H</i></div>
                </div>
              </div>
              <div class="col-4 col-md-4">
                <div class="card mb-1 border-0">
                  <div class="card-header bg-info text-white text-center p-1">
                    Carburant
                  </div>
                  <div class="card-body text-center p-1"
                    style="overflow-y: auto;border: 1px solid #aaa;border-radius: 12px;"><i
                      class="fa fa-battery-quarter h6 m-0 text-blue">&nbsp;{{resume.fuelLevel}} L</i></div>
                </div>
              </div>
              <div class="col-4 col-md-4">
                <div class="card mb-1 border-0">
                  <div class="card-header bg-info text-white text-center p-1">
                    Consommation
                  </div>
                  <div class="card-body text-center p-1"
                    style="overflow-y: auto;border: 1px solid #aaa;border-radius: 12px;"><i
                      class="fa fa-battery-quarter h6 m-0 text-blue">&nbsp;{{resume.consomation}} L</i></div>
                </div>
              </div>
              <div class="col-4 col-md-4">
                <div class="card mb-1 border-0">
                  <div class="card-header bg-info text-white text-center p-1">
                    Consom moyenne
                  </div>
                  <div class="card-body text-center p-1"
                    style="overflow-y: auto;border: 1px solid #aaa;border-radius: 12px;"><i
                      class="fa fa-battery-quarter h6 m-0 text-blue">&nbsp;{{resume.consomationMoyenne}} %</i></div>
                </div>
              </div>
            </div>
            <ng-template #popTemplate let-view="view">
              <div style="width:375px" [innerHtml]="segmentedData[view[0]][view[1]].tooltip"></div>
            </ng-template>
            <div class="border border-primary rounded-top" style="margin: 0px 8px 15px;"
              *ngFor="let dayEvent of segmentedData;let j=index;">
              <div class="btn btn-outline-primary w-100 border-0" title="Afficher le trajet du jour"
                (click)="showDayTrajet(j)"><i class="nav-icon cil-map"></i> Afficher le trajet de {{TimelineDays[j]}}
              </div>
              <div class="chart-wrapper" style="background: #fff9f0;">
                <div class="vis-content">
                  <div class="vis-itemset">
                    <div class="vis-group">
                      <div id="event-{{i}}" *ngFor="let event of dayEvent;let i=index;" (click)="chartClicked(j,i)"
                        container="event-{{i}}" containerClass="tooltipContainer-{{event.status}}"
                        [ngClass]="event.class" [style.width]="event.ratio" [popover]="popTemplate"
                        boundariesElement="window" [outsideClick]="true" triggers="mouseenter:mouseleave"
                        [popoverContext]="{ view: [j,i] }"></div>
                    </div>
                  </div>
                  <div class="xAxisContainer">
                    <div class="xAxis">
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">00H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">02H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">04H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">06H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">08H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">10H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">12H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">14H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">16H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">18H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">20H</div>
                      </div>
                      <div class="xAxisTick">
                        <div class="tick"></div>
                        <div class="xLabel">22H</div>
                      </div>
                      <div style="width: 0%;">
                        <div class="tick"></div>
                        <div class="xLabel" style="display: flex;">24H</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </as-split-area>
    <as-split-area [size]="size[1]" [order]="2">
      <div class="my-map">
        <div class="card-body" id="map" overlay="true"></div>
      </div>
    </as-split-area>
  </as-split>
</div>