.plus {
    font-size: 15px;

}

// .modal{
//     max-width: 400px !important;
//     width: 400px !important;
//     height: 300px !important;
// }

#graph {
    position: relative;
}

.p1d {
    position: absolute;
    top: 18%;
    right: 88%;
}

.p1g {
    position: absolute;
    top: 70%;
    right: 88%;
}

.p2dd {
    position: absolute;
    right: 47%;
}

.p2dg {
    position: absolute;
    top: 30%;
    right: 47%;
}

.p2gd {
    position: absolute;
    top: 60%;
    right: 47%;
}

.p2gg {
    position: absolute;
    top: 90%;
    right: 47%;
}

.etoile {
    color: red;
    font-weight: bold;
}

.modal-sm {
    // max-width: 800px !important;
    // width: 600px !important;
}

.modal-content {
    min-height: 550px !important;
}

.pneu {
    display: block;
    background-image: url('../../../../assets/img/graph/icone-pneu.png');
    width: 100px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: 100%;

}

.info {
    color: white;
    font-size: 11px;
    display: block;
}

.verticalbarre {
    width: 10px;
    height: 150px;
    margin: 2px auto;
}

.horizontalBarre {
    width: 97%;
    height: 15px;
    background-color: black;
    position: absolute;
    // right: 40%
    margin: 0 4px;
}

.axe {
    margin: 0px 5%;
}

// @media only screen and (max-width: 1400px) {
//     .horizontalBarre {
//         // width: 225%;
//         height: 10px;
//         margin: 0px auto;
//         right: 50%
//     }
// }

.pneu:hover {
    background-color: #cdedff;
    background-blend-mode: color-burn;
}

.activePneu {
    background-color: #cdedff;
    background-blend-mode: color-burn;
}

// @media only screen and (max-width: 1255px) {

//     .horizontalBarre {
//         width: 225%;
//         height: 10px;
//         margin: 0px auto;
//     }
// }