<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-accent-info">
        <div class="card-header">
          <button type="button" data-toggle="modal" *ngIf="isAddPermission" (click)="showAddModal()" class="btn btn-outline-primary"><i
              class="fa fa-plus-circle"></i> Ajouter Utilisateur </button>
          <div class="card-header-actions">
            <button class="btn text-primary mr-2" (click)="loadData()" [disabled]="loading">
              <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
              <i class="fa fa-circle-o-notch fa-lg mr-1 fa-spin" *ngIf="loading"></i> &nbsp;Actualiser
            </button>
            <app-dropdown-export (export)="exporter($event)"></app-dropdown-export>
          </div>
        </div>
        <div bsModal #primaryModal="bs-modal" *ngIf="isEditPermission" [config]="{backdrop: 'static', keyboard: false}" class="modal fade"
          tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{mode}} Utilisateur</h5>
                <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form>
                <div class="modal-body">
                  <mat-progress-bar mode="indeterminate" *ngIf="modalLoading"></mat-progress-bar>
                  <div class="animated fadeIn">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="card-body">
                          <div class="form-group row">
                            <label class=" col-md-4 col-form-label">Identifiant *</label>
                            <div class="col-8 input-group">
                              <input type="text" class="form-control" [disabled]="mode=='Modifier'?'true':'false'"
                                [(ngModel)]="selectedUser.userID" [ngModelOptions]="{standalone: true}"
                                placeholder="Saisir un identifiant" required>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">Actif</label>
                            <div class="col-8">
                              <input id="s1" type="checkbox" [(ngModel)]="selectedUser.isActive"
                                [ngModelOptions]="{standalone: true}" class="switch" />
                              <label for="s1" class="ml-2">{{selectedUser.isActive?'Activé':'Désactivé'}}
                                &nbsp;</label>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">Description utilisateur *</label>
                            <div class="col-8">
                              <input type="text" class="form-control" [(ngModel)]="selectedUser.description"
                                [ngModelOptions]="{standalone: true}" placeholder="Saisir une Description" required>
                            </div>
                          </div>
                          <div *ngIf="mode == 'Ajouter'" class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">Mot de passe *</label>
                            <div class="col-8">
                              <input type="password" class="form-control" [(ngModel)]="selectedUser.password"
                                [ngModelOptions]="{standalone: true}" placeholder="************"
                                [required]="mode=='Modifier'?'false':'true'">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">Nom du contact</label>
                            <div class="col-8">
                              <input type="text" class="form-control" [(ngModel)]="selectedUser.contactName"
                                [ngModelOptions]="{standalone: true}" placeholder="Saisir nom du contact">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">Téléphone du contact</label>
                            <div class="col-8">
                              <input type="tel" class="form-control" [(ngModel)]="selectedUser.contactPhone"
                                [ngModelOptions]="{standalone: true}" placeholder="Saisir num de tel" required>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">Email du contact</label>
                            <div class="col-8">
                              <input type="email" class="form-control" [(ngModel)]="selectedUser.contactEmail"
                                [ngModelOptions]="{standalone: true}" placeholder="xxxxxxxx@exemple.com">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="card-body">
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">Email de notification</label>
                            <div class="col-8">
                              <input type="text" class="form-control" [(ngModel)]="selectedUser.notifyEmail"
                                [ngModelOptions]="{standalone: true}" placeholder="xxxxxxxx@exemple.com"
                                autocomplete="on">

                            </div>
                          </div>
                          <div class="form-group row">
                            <label class=" col-md-4 col-form-label">Fuseau horaire</label>
                            <!-- <div class="col-8">
                            <input type="text"  class="form-control" [(ngModel)]="selectedUser.timeZone" [ngModelOptions]="{standalone: true}"
                             placeholder="">
                          </div> -->
                            <div class="col-8 input-group">
                              <my-dropdown-select class="form-control" [placeholder]="'Selectionner un fuseau horaire '"
                                [selectPlaceholder]="'Chercher...'" [options]="cst.timezone" [display]="'label'"
                                [value]="'data'" [multiple]="false" [labelCount]="0"
                                [selectedOptions]="selectedTimezones" (selectionChange)="getSelectedTimezones($event)">
                              </my-dropdown-select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class=" col-md-4 col-form-label" for="select1">Groupe de véhicules</label>
                            <div class="col-8 input-group">
                              <my-dropdown-select class="form-control" [placeholder]="'Selectionner un groupe'"
                                [selectPlaceholder]="'Cherhcer...'" [errorMsg]="errorMessageGroup"
                                [showErrorMsg]="showErrorGroup" [options]="groups" [display]="'description'"
                                [value]="'groupID'" [multiple]="false" [labelCount]="2"
                                [selectedOptions]="selectedGroups" (selectionChange)="getSelectedGroups($event)">
                              </my-dropdown-select>
                            </div>
                          </div>
                          <!-- <div class="form-group row">
                          <label class=" col-md-4 col-form-label">Séléctionnées</label>
                          <div class="col-8 input-group">
                            <select size="6" class="form-control" placeholder="Véhicules Séléctionnées">
                              <option *ngFor="let e of selectedGroup">{{getDeviceByName(e)}}</option>
                            </select>
                          </div>
                        </div> -->
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">General Notes</label>
                            <div class="col-8">
                              <textarea type="text" rows="5" [(ngModel)]="selectedUser.notes"
                                [ngModelOptions]="{standalone: true}" class="form-control"></textarea>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row mb-2">
                          <div class="col-4">
                            <div class="row custom-control">
                              <div class="custom-control">
                                <input id="admin" type="radio" class="custom-control-input" value="admin" name="role"
                                [(ngModel)]="role"
                                [ngModelOptions]="{standalone: true}">
                                <label class="custom-control-label" for="admin">Administrateur</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="row custom-control switch ">
                              <input id="user" type="radio" class="custom-control-input" value="user" name="role"
                              [(ngModel)]="role"
                              [ngModelOptions]="{standalone: true}">
                              <label class="custom-control-label" for="user">Utilisateur</label>
                            </div>

                          </div>
                          <div class="col-4">
                            <div class="row custom-control ">
                              <input id="guest" type="radio" class="custom-control-input" value="guest" name="role"
                              [(ngModel)]="role"
                              [ngModelOptions]="{standalone: true}">
                              <label class="custom-control-label" for="guest">Guest</label>
                            </div>
                          </div>
                        </div>
                        <json-editor [options]="editorOptions" (jsonChange)="editorJsonChangeLog($event)" [data]="role=='guest'?cst.guestPermissions:role=='user'?cst.userPermissions:cst.defaultPermissions"
                          #editor style="max-height: 600px;width: 100%;"></json-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="modal-footer" style="justify-content: left;display: initial;">
                <mat-hint class="text-danger">{{errorMsg}}</mat-hint>
                <button type="button" class="btn btn-primary float-right" (click)="submit()">{{mode}}</button>
                <button type="button" class="btn btn-secondary float-right"
                  (click)="primaryModal.hide()">Fermer</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div bsModal #secondModal="bs-modal" *ngIf="isEditPermission" [config]="{backdrop: 'static', keyboard: false}" class="modal fade"
          tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"> Modifier mot de passe </h5>
                <button type="button" class="close" (click)="secondModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form>
                <div class="modal-body">
                  <mat-progress-bar mode="indeterminate" *ngIf="modalLoading"></mat-progress-bar>
                  <div class="animated fadeIn">
                    <div class="row">
                      <div class="col">
                        <div class="card-body">
                          <div class="form-group row">
                            <label class=" col-md-4 col-form-label">Identifiant *</label>
                            <div class="col-8 input-group">
                              <input type="text" class="form-control" disabled [(ngModel)]="selectedUser.userID"
                                [ngModelOptions]="{standalone: true}" placeholder="Saisir un identifiant" required>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">Mot de passe *</label>
                            <div class="col-8">
                              <input type="password" class="form-control" [(ngModel)]="selectedUser.password"
                                [ngModelOptions]="{standalone: true}" placeholder="************" [required]="true">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">Confirmer le mot de passe *</label>
                            <div class="col-8">
                              <input type="password" class="form-control" [(ngModel)]="selectedUser.confirmPass"
                                [ngModelOptions]="{standalone: true}" placeholder="************" [required]="true">
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="modal-footer" style="justify-content: left;display: initial;">
                <mat-hint class="text-danger">{{errorMsg}}</mat-hint>
                <button type="button" class="btn btn-primary float-right" (click)="submit()">{{mode}}</button>
                <button type="button" class="btn btn-secondary float-right" (click)="secondModal.hide()">Fermer</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <my-gestionusers-table (modify)="loadModify($event)" (editPassword)="loadEditPassword($event)"
        (delete)="delete($event)" [data]="data" [isEditPermission]="isEditPermission">
      </my-gestionusers-table>
    </div>
  </div>
</div>

<!-- (delete)="delete($event)"  -->