.box-search {
    margin: 8px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16),
        0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
}

.mat-hint{
    font-size: 11px;
}
.box-search input {
    flex: 1;
    border: none;
    outline: none;
}

.box-select-all {
    width: 36px;
    line-height: 33px;
    color: #808080;
    text-align: center;
}

.close-button {
    width: 36px;
    height: 36px;
    line-height: 33px;
    color: #000000;
    border: 0;
    background: aliceblue;
}

.pl-1 {
    padding-left: 1rem;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
}

.mat-form-field-wrapper {
    padding: 0px;
    margin: 0px;
}
 