.mcontrol {
    background: #fff no-repeat 0 0;
    background-size: 28px 52px;
    border-radius: 5px;
    border: 1px solid rgb(0 0 0 / 75%);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: rgba(51, 181, 229, .4);
}

// .dropdown-table>div {
//     z-index: 999999999999 !important;
// }