.mcontrol {
    background: #fff no-repeat 0 0;
    background-size: 26px 52px;
    border-radius: 5px;
    border: 1px solid rgb(0 0 0 / 48%);
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: rgba(51, 181, 229, .4);
}

.dropdown {
    z-index: 999999999999 !important;
}