<div class="animated fadeIn">
    <button id="mapfullScreenControl" *ngIf="showFullScreenControle" title="Enter FullScreen"
        class="control-fullscreen-button" (click)="toggleMapFullscreen()"></button>
    <button id="positionControl" *ngIf="showPositionControle" title="My Postion"
        class="control-position-button icon-target" (click)="toggleMyPosition()"></button>
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-accent-info">
                <div class="card-header">
                    Véhicules les plus proches & Itinéraires
                </div>
                <form class="card-body p-2" [formGroup]="POIForm">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Mode de Recherche</mat-label>
                        <mat-select [(value)]="selectedType" (selectionChange)="onTypeChange($event)">
                            <mat-option *ngFor="let type of modeTypes" [value]="type.val">
                                <div class="d-flex justify-content">
                                    <span>
                                        {{ type.name | uppercase }}
                                    </span>
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!--  -->
                    <my-places-search *ngIf="selectedType == 'poc'" (selectionChange)="onAddresseChange($event)">
                    </my-places-search>
                    <!--  -->
                    <div class="controls" class="w-100 mb-2" *ngIf="selectedType == 'poi'">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-map-pin fa-sm"></i></span>
                            </div>
                            <my-dropdown-select class="form-control" [selectPlaceholder]="'Chercher...'" [options]="POIs" [display]="'name'"
                                [value]="'val'" [multiple]="false" [labelCount]="1" [selectedOptions]="selectedPoi"
                                (selectionChange)="onPoiChange($event)">
                            </my-dropdown-select>
                        </div>
                        <!--</div> -->
                        </div>
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Rayon (en mètres)</mat-label>
                        <input type="number" aria-label="Number" min="100" max="20000000" matInput formControlName="radius"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of radiusOptions" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header p-1">
                            <span class="my-0 fw-normal">Position Choisi</span>
                            <button class="btn btn-sm btn-primary card-header-actions mr-1 py-0"
                                [disabled]="searchedPosition.lat  != '' ? false : true" type="button"
                                (click)="showClosest()">
                                <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
                                <i class="fa fa-circle-o-notch fa-lg mr-2 fa-spin" *ngIf="loading"></i> Plus proches
                            </button>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">{{ searchedPosition.address }}</h6>
                            <ul class="mt-3 mb-4">
                                <li>Latitude: {{ searchedPosition.lat }}</li>
                                <li>Longitude: {{ searchedPosition.lng }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card p-2 bg-dark mb-4 rounded-3 d-flex flex-row align-items-center border-0">

                        <i class="fa fa-info-circle  mr-2"></i>
                        <span class="my-0 fw-normal">Sélectionner un véhicule pour calculer l'itinéraire !</span>

                    </div>

                    <div class="d-flex justify-content-end mb-4">
                        <button class="btn btn-sm btn-danger" *ngIf="isTrajetDrew" type="button" (click)="clearDirection()">
                            <i class="fa fa-broom"></i>
                            Rénitialiser
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="flex-grow-1 my-map">
            <div class="card-body" id="map"></div>
        </div>
    </div>
</div>