
        <div class="animated fadeIn" *ngIf="mode== 'List'">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-accent-info">
                <div class="card-header">
                  <button type="button" data-toggle="modal" (click)="showAddModal()"  *ngIf="isAddPermission" class="btn btn-outline-primary"><i
                      class="fa fa-plus-circle"></i>Ajouter Entrées/Sorties</button>
                  <div class="card-header-actions">
                    <app-dropdown-export (export)="exporter($event)"></app-dropdown-export>
                    <button class="btn text-primary mr-2" (click)="loadData(true)" [disabled]="loading">
                      <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
                      <i class="fa fa-circle-o-notch fa-lg mr-1 fa-spin" *ngIf="loading"></i> &nbsp;Actualiser
                    </button>
                    <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()">
                      <i class="{{ iconCollapse }}  transition"></i>
                    </button>
                    <button type="button" class="card-header-action btn btn-link btn-close" (click)="reset()"  (click)="loadData(true)">
                      <i class="icon-close"></i>
                    </button>
                  </div>
                </div>
        <div [collapse]="isCollapsed" [isAnimated]="true" class="card-body">
          <div class="form-group row">
            <div class="col-md-5">
              <my-daterangepicker #calendar [options]="myDateRangePickerOptions"></my-daterangepicker>
            </div>
            <div class="col-md-5">
              <div class="controls">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-database"></i></span>
                  </div>
                  <my-dropdown-select class="form-control" [placeholder]="'Sélection du Dépôt'" [selectPlaceholder]="'search...'"
                    [options]="Depot" [display]="'id_Store'" [value]="'id_Store'" [multiple]="false" [labelCount]="0"
                    [selectedOptions]="selectedDepot" (selectionChange)="getSelectedDepots($event)">
                   
                  </my-dropdown-select>
                </div>    
              </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-sm btn-primary" (click)="loadData(false)" [disabled]="loading">
                <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
                <i class="fa fa-circle-o-notch fa-lg mr-2 fa-spin" *ngIf="loading"></i> &nbsp;Appliquer
              </button>
            </div>
          </div>
        </div>
      
     
      <form class="form-horizontal">
            <div class="row">
              <div class="col-lg-12">
                <tabset>
                  <tab style="min-height: 600px" (selectTab)="selectTab(0)" [active]="selectedTab==0">
                    <ng-template tabHeading><i class="fa fa-arrow-up"></i> Mouvement de Stock &nbsp;</ng-template>
                    <mat-progress-bar mode="indeterminate" *ngIf="modalLoading"></mat-progress-bar>
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <app-stock-table (delete)="delete($event)" [data]="data" [isEditPermission]="isEditPermission"></app-stock-table>
                      </div>
                    </div>
                  </tab>
                  <tab style="min-height: 600px;" (selectTab)="selectTab(1)" [active]="selectedTab==1">
                    <ng-template tabHeading><i class="fa fa-file"></i> Bon de sortie &nbsp;</ng-template>
                    <mat-progress-bar mode="indeterminate" *ngIf="modalLoading"></mat-progress-bar>
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <app-bon-commande (modify)="loadModify($event)"  (delete)="delete($event)" [data]="data" [isEditPermission]="isEditPermission"></app-bon-commande>
                      </div>
                    </div>
                  </tab>
                  <tab style="min-height: 600px;">
                    <ng-template tabHeading><i class="icon-list mr-1"></i>Produits &nbsp;</ng-template>
                    <mat-progress-bar mode="indeterminate" *ngIf="modalLoading"></mat-progress-bar>
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <app-etat-stock  (delete)="delete($event)" [data]="data" [isEditPermission]="isEditPermission"></app-etat-stock>                       
                      </div>
                    </div>
                    <ng-container matColumnDef="PrixTotal">
                      <th mat-header-cell *matHeaderCellDef>Prix Total</th>
                      <td mat-cell *matCellDef="let element">{{ element.PrixTotal }}</td>
                    </ng-container>
                  </tab>
                </tabset>            
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
 </div>  
  <div class="card" *ngIf="mode != 'List'">
    <div class="card-header">
      <button type="button" class="btn btn-outline-primary mb-1 mr-2 p-1 d-inline border-0" (click)="mode = 'List'">
        <i class="icon-arrow-left fa-lg"></i>
      </button>
      <h6 class="d-inline">{{mode}} Entrées/Sorties</h6>
    </div>
    <!-- <label style="margin-top: 10px;margin-left: 20px;">
      <input type="checkbox" class="switch" [(ngModel)]="showContent">
      <span style="margin-left: 5px;" *ngIf="showContent">Sortie</span>
      <span style="margin-left: 5px;" *ngIf="!showContent">Entrée</span>
    </label>   -->
    <label style="margin-top: 10px;margin-left: 20px;">
      <input type="checkbox" class="switch" [(ngModel)]="showContent" (change)="updateTypMvt()">
      <span style="margin-left: 5px;" *ngIf="showContent">Sortie</span>
      <span style="margin-left: 5px;" *ngIf="!showContent">Entrée</span>
    </label>
    
    
    <div class="card-body">
      <mat-progress-bar mode="indeterminate" *ngIf="modalLoading"></mat-progress-bar>
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-6 px-1">
            <div class="card card-accent-info">
              <div class="form-group row " style="margin-top:15px">
                <label class="col-md-4 col-form-label" for="text-input">Date de mouvement *</label>
                <div class="col-8">
                  <input type="date" [(ngModel)]="selectedStock[0].DateMvtString" [ngModelOptions]="{standalone: true}"
                    class="form-control">
                </div>
              </div>


            </div>
          </div>

          <div class="col-lg-6 px-1">
            <div class="card card-accent-info">
              <div class="form-group row px-2 pb-0" style="margin-top:15px">
                <label class=" col-md-4 col-form-label" for="select1">Dépôt *</label>
                <div class="col-8 input-group">
                  <my-dropdown-select class="form-control" [placeholder]="'Dépôt'" [selectPlaceholder]="'search...'"
                    [options]="stores" [display]="'description'" [value]="'id'" [multiple]="false" [labelCount]="0"
                    [selectedOptions]="selectedStock[0].id_Store" (selectionChange)="getSelectedDepot($event)">
                    >
                  </my-dropdown-select>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row mb-2">
          <mat-hint class="text-danger col-6 px-1">{{errorMsg}}</mat-hint>
          <div class="col-6 px-1">
            <button type="button" style="margin-top:20px;margin-right:10px" class="btn btn-primary float-right"
              (click)="submit()">{{mode}}</button>
          </div>
        </div>
        <!--formulaire entree -->
   <div *ngIf="!showContent">
          <div class="row">
            <div class="col-lg-12 px-1">
              <div class="card card-accent-info">
                <div class="card-header p-0 pt-2">
                  <div class="row col-12 p-0 m-0 align-items-center">

                    <div class="col-2 p-0 px-2">
                      <label>Reference*</label>
                    </div>

                    <div class="col-2 p-0 px-2">
                      <label>Designation</label>
                    </div>
                    <div class="col-1 p-0 px-2">
                      <label>Quantité</label>
                    </div>

                    <div class="col-1 p-0 px-2">
                      <label>Prix</label>
                    </div>
                    <div class="col-2 p-0 px-2">
                      <label>Citerne</label>
                    </div>
                    <div class="col-2 p-0 px-2">
                      <label>Observation</label>
                    </div>
                    <div class="col-1 p-0 px-2">
                      <label>TVA %</label>
                    </div>


                    <div class="col-1 p-0 px-2 d-flex justify-content-center">
                      <button type="button" title="Ajouter" class="btn btn-outline-success py-0"
                        (click)="addStockItem()">
                        <i class="fa fa-plus-circle"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 py-2">
                  <div *ngFor="let item of selectedStock; let i = index" class="row col-12 m-0 p-0">

                    <div class="col-2 p-1">
                      <my-dropdown-select class="form-control" [placeholder]="'Sélectionner'"
                        [selectPlaceholder]="'search...'" [options]="products" [display]="'Reference'"
                        [value]="'Reference'" [multiple]="false" [labelCount]="0" [selectedOptions]="item.Reference"
                        (selectionChange)="productChange($event,item)">
                      </my-dropdown-select>
                    </div>
                    <div class="col-2 p-1">
                      <input type="text" [(ngModel)]="item.Designation" [ngModelOptions]="{standalone: true}"
                        class="form-control" placeholder="Designation">
                    </div>
                    <div class="col-1 p-1">
                      <input type="number" min="1" class="form-control" [(ngModel)]="item.Qte"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-1 p-1">
                      <input type="number" min="0.00" class="form-control" [(ngModel)]="item.Price"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-2 p-1">
                      <input type="text" class="form-control" [(ngModel)]="item.idCiterne"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="col-2 p-1">
                      <input type="text" class="form-control" [(ngModel)]="item.observation"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-1 p-1">
                      <input type="number" min="0" max=100 class="form-control" [(ngModel)]="item.Tva"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="col-1 p-1 d-flex justify-content-center align-items-center">
                      <span>
                        <i style="cursor: pointer;" class="cil-trash p-1 text-danger" (click)="deleteItem(i)"
                          title="Supprimer"></i>
                      </span>

                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

        <!-- formulaire sortie -->
 <div *ngIf="showContent">
          <div class="row">
            <div class="col-lg-12 px-1">
              <div class="card card-accent-info">
                <div class="card-header p-0 pt-2">
                  <div class="row col-12 p-0 m-0 align-items-center">

                    <div class="col-1 p-0 px-2">
                      <label>Reference*</label>
                    </div>

                    <div class="col-1 p-0 px-2">
                      <label>Designation</label>
                    </div>
                    <div class="col-1 p-0 px-2">
                      <label>Quantité</label>
                    </div>

                    <div class="col-1 p-0 px-2">
                      <label>Prix</label>
                    </div>


                    <div class="col-1 p-0 px-2">
                      <label>Véhicule ID</label>
                    </div>
                    <div class="col-2 p-0 px-2">
                      <label>Type de Panne</label>
                    </div>
                    <div class="col-1 p-0 px-2">
                      <label>Citerne</label>
                    </div>
                    <div class="col-1 p-0 px-2">
                      <label>Observation</label>
                    </div>
                    <div class="col-1 p-0 px-2">
                      <label>Kilometrage</label>
                    </div>


                    <div class="col-1 p-0 px-2">
                      <label>TVA %</label>
                    </div>


                    <div class="col-1 p-0 px-2 d-flex justify-content-center">
                      <button type="button" title="Ajouter" class="btn btn-outline-success py-0"
                        (click)="addStockItem()">
                        <i class="fa fa-plus-circle"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 py-2">
                  <div *ngFor="let item of selectedStock let i = index" class="row col-12 m-0 p-0">

                    <div class="col-1 p-1">
                      <my-dropdown-select class="form-control" [placeholder]="'Sélectionner'"
                        [selectPlaceholder]="'search...'" [options]="products" [display]="'Reference'"
                        [value]="'Reference'" [multiple]="false" [labelCount]="0" [selectedOptions]="item.Reference"
                        (selectionChange)="productChange($event,item)">
                      </my-dropdown-select>
                    </div>
                    <div class="col-1 p-1">
                      <input type="text" [(ngModel)]="item.Designation" [ngModelOptions]="{standalone: true}"
                        class="form-control" placeholder="Designation">
                    </div>
                    <div class="col-1 p-1">
                      <input type="number" min="1" class="form-control" [(ngModel)]="item.Qte"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-1 p-1">
                      <input type="number" min="0" class="form-control" [(ngModel)]="item.Price"
                        [ngModelOptions]="{standalone: true}">
                    </div>


                    <div class="col-1 p-1">
                      <my-dropdown-select class="form-control" [placeholder]="'Vehicules Selection'"
                        [selectPlaceholder]="'search...'" [options]="devices" [display]="'name'" [value]="'dID'"
                        [multiple]="false" [labelCount]="0" [selectedOptions]="selectedDeviceModalOption"
                        (selectionChange)="getSelectedDeviceModal($event)">
                      </my-dropdown-select>
                    </div>
                    
                    <div class="col-2 p-1">
                      <input type="text" class="form-control" [(ngModel)]="item.id_TypePanne"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-1 p-1">
                      <input type="text" class="form-control" [(ngModel)]="item.idCiterne"
                        [ngModelOptions]="{standalone: true}">
                    </div>


                    <div class="col-1 p-1">
                      <input type="text" class="form-control" [(ngModel)]="item.observation"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="col-1 p-1">
                      <input type="text" [(ngModel)]="item.Kilometrage" [ngModelOptions]="{standalone: true}"
                        class="form-control" placeholder="Klm">
                    </div>


                    <div class="col-1 p-1">
                      <input type="number" min="0" max=100 class="form-control" [(ngModel)]="item.Tva"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="col-1 p-1 d-flex justify-content-center align-items-center">
                      <span>
                        <i style="cursor: pointer;" class="cil-trash p-1 text-danger" (click)="deleteItem(i)"
                          title="Supprimer"></i>
                      </span>

                    </div>
 

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div> 