<!-- <div class="container"> -->
    <div class="row justify-content-between align-items-center">
        <my-menu-card class="col-6" title="Plan d'Entretien" subtitle='' [routerLink]="['/maintenance/planentretien']"
            icon="cil-garage"
            underlineColor="bg-info">
        </my-menu-card>
        <my-menu-card class="col-6" title='Pneu' subtitle='En cours de développement' icon="cil-football"
            underlineColor="bg-success">
        </my-menu-card>
        <my-menu-card class="col-6" title='Accidents' subtitle='En cours de développement' icon="cil-warning"
            underlineColor="bg-warning">
        </my-menu-card>
        <my-menu-card class="col-6" [routerLink]="['/maintenance/gestioncarburant']" title='Consommation'
            subtitle='En cours de développement' icon="cil-chart-line"
            underlineColor="bg-primary">
        </my-menu-card>
    </div>

<!-- </div> -->