<!-- <div class="container"> -->
<div class="row justify-content-between align-items-center">
  <my-menu-card class="col-6" title="Plan d'Entretien" subtitle=" " *ngIf="Maintenance_PlanEntretien" [routerLink]="['/maintenance/planentretien']"
    icon="cil-garage" underlineColor="bg-info">
  </my-menu-card>
  <my-menu-card class="col-6" title="Pneu" subtitle=" " [routerLink]="['/maintenance/pneu']"  *ngIf="Maintenance_Pneu" icon="cil-football"
    underlineColor="bg-success">
  </my-menu-card>
  <my-menu-card class="col-6" title="Accidents" [routerLink]="['/maintenance/accidents']" subtitle=" " *ngIf="Maintenance_Accidents" icon="cil-warning"
    underlineColor="bg-warning">
  </my-menu-card>
  <my-menu-card class="col-6" [routerLink]="['/maintenance/gestioncarburant']" title="Consommation" subtitle=" " *ngIf="Maintenance_Consommation"
    icon="cil-chart-line" underlineColor="bg-primary">
  </my-menu-card>
</div>

<!-- </div> -->