<mat-progress-bar mode="indeterminate" *ngIf="loadingTrajet" class="bg-primary"></mat-progress-bar>
<div class="animated fadeIn mapcontainer">
  <button id="{{mapID}}fullScreenControl" *ngIf="showFullScreenControle" title="Enter FullScreen"
    class="control-fullscreen-button" (click)="toggleMapFullscreen()"></button>
  <button id="{{mapID}}positionControl" *ngIf="showPositionControle" title="My Postion"
    class="control-position-button icon-target" (click)="toggleMyPosition()"></button>
  <div class="my-map">
    <div class="card-body" id="{{mapID}}"></div>
  </div>
</div>