<div class="card events-card" id="list-events">
    <div class="card-header">

    </div>
    <div class="card-body">
        <ng-template *ngIf="events">
            <h1>events</h1>
        </ng-template>

        <table *ngIf="events" class="w-100" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
                <td mat-cell *matCellDef="let event">
                    {{ event.start }}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let event" class="d-flex justify-content-around align-items-center">
                    <a [routerLink]="['./details', event.id]"><i class="fa fa-tripadvisor"></i></a>
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let event;columns: displayedColumns" (click)="onRowClicked(event)"
                (dblclick)="onRowDoubleClicked(event)"></tr>

        </table>
    </div>
    <div class="card-footer">
        <mat-paginator [pageSizeOptions]="myPageSizeOptions" showFirstLastButtons [pageSize]="selectedPageSize">
        </mat-paginator>
    </div>
</div>