<div *ngIf="mode == 'List'" class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-accent-info">
        <div class="card-header">
          <button type="button" data-toggle="card" (click)="newOrderForm()" *ngIf="isAddPermission"
            class="btn btn-outline-primary"><i class="fa fa-plus-circle"></i> Ajouter un Bon de Commande </button>
          <div class="card-header-actions">
            <button class="btn text-primary mr-2" (click)="loadData()" [disabled]="loading">
              <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
              <i class="fa fa-circle-o-notch fa-lg mr-1 fa-spin" *ngIf="loading"></i> &nbsp;Actualiser
            </button>
            <app-dropdown-export (export)="exporter($event)"></app-dropdown-export>
          </div>
        </div>
        <div [collapse]="isCollapsed" [isAnimated]="true" class="card-body">
          <form class="form-horizontal">
            <div class="row">
              <div class="col-lg-12">
                <order-form-table [columnNames]="columnNames" [displayedColumns]="displayedColumns"
                  (modify)="loadModify($event)" (delete)="delete($event)" [data]="data"
                  [isEditPermission]="isEditPermission">
                </order-form-table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>


<div class="card" *ngIf="mode != 'List'">
  <div class="card-header">
    <button type="button" class="btn btn-outline-primary mb-1 mr-2 p-1 d-inline border-0" (click)="mode = 'List'">
      <i class="icon-arrow-left fa-lg"></i>
    </button>
    <h6 class="d-inline">{{mode}} Bon de Commande</h6>
  </div>
  <div class="card-body">
    <mat-progress-bar mode="indeterminate" *ngIf="modalLoading"></mat-progress-bar>
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-6 px-1">
          
          <div class="card card-accent-info">

            <div class="form-group row px-2 pt-2">
              <label class=" col-md-4 col-form-label" for="select1">N Commande </label>
              <div class="col-8">
                <input type="text" [disabled]="true" [(ngModel)]="selectedOrderForm.orderNum"
                  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Numero de Commande">
              </div>
            </div>

            <div class="form-group row px-2">
              <label class="col-md-4 col-form-label" for="text-input">Date de commande *</label>
              <div class="col-8">
                <input type="date" [(ngModel)]="selectedOrderForm.createdAt" [ngModelOptions]="{standalone: true}"
                  class="form-control">
              </div>
            </div>

            <div class="form-group row  px-2">
              <label class=" col-md-4 col-form-label" for="text-input">Date de livraison *</label>
              <div class="col-8">
                <input type="date" [(ngModel)]="selectedOrderForm.deliveryDate" [ngModelOptions]="{standalone: true}"
                  class="form-control">
              </div>
            </div>

            <div class="form-group row px-2">
              <label class=" col-md-4 col-form-label" for="select1">Dépôt *</label>
              <div class="col-8 input-group">
                <my-dropdown-select class="form-control" [placeholder]="'Dépôt'" [selectPlaceholder]="'search...'"
                  [options]="payementOptions" [display]="'label'" [value]="'value'" [multiple]="false" [labelCount]="0"
                  [selectedOptions]="selectedOrderForm.depot" (selectionChange)="getSelectedDepot($event)">
                </my-dropdown-select>
              </div>
            </div>
            <div class="form-group row px-2 pb-0">
              <label class="col-md-4 col-form-label" for="text-input">Adresse livraison</label>
              <div class="col-8">
                <textarea type="text" rows="2" class="form-control" [ngModel]="selectedOrderForm.deliveryAdress">
                              </textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 px-1">
          <div class="card card-accent-info mb-3">
            <div class="form-group row px-2 pt-2">
              <div class="col-md-4">
                <label class="col-form-label" for="select1">Fournisseur *</label>
                <button type="button" class="btn">
                  <i class="fa fa-plus-circle"></i>
                </button>
              </div>
              <div class="col-8 input-group">
                <my-dropdown-select class="form-control" [placeholder]="'Fournisseur'" [selectPlaceholder]="'search...'"
                  [options]="payementOptions" [display]="'label'" [value]="'value'" [multiple]="false" [labelCount]="0"
                  [selectedOptions]="selectedOrderForm.supplier" (selectionChange)="getSelectedSupplier($event)">
                  >
                </my-dropdown-select>
              </div>
            </div>

            <div class="form-group row px-2 pb-1">
              <label class="col-md-4 col-form-label" for="text-input">Adresse</label>
              <div class="col-8">
                <textarea type="text" rows="2" class="form-control"
                  [ngModel]="selectedOrderForm.supplierAdress"></textarea>
              </div>
            </div>

          </div>
          <div class="card card-accent-info pt-2">
            <div class="form-group row px-2 pt-2 pb-0">
              <label class="col-md-3 col-form-label" for="text-input">Observation</label>
              <div class="col-9 pl-0">
                <textarea type="text" rows="4" class="form-control"
                  [ngModel]="selectedOrderForm.observation"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <mat-hint class="text-danger col-6 px-1">{{errorMsg}}</mat-hint>
        <div class="col-6 px-1">
          <button type="button" class="btn btn-primary float-right" (click)="submit()">{{mode}}</button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 px-1">
          <div class="card card-accent-info">
            <div class="card-header p-0 pt-2">
              <div class="row col-12 p-0 m-0 align-items-center">
                <div class="col-2 p-0 px-2">
                  <label>Article <button type="button" class="btn p-0">
                      <i class="fa fa-plus-circle"></i>
                    </button></label>
                </div>

                <div class="col-3 p-0 px-2">
                  <label>Designation</label>
                </div>

                <div class="col-1 p-0 px-2">
                  <label>Quantité</label>
                </div>

                <div class="col-1 p-0 px-2">
                  <label>Prix</label>
                </div>

                <div class="col-1 p-0 px-2">
                  <label>TVA %</label>
                </div>

                <div class="col-1 p-0 px-2">
                  <label>Remise</label>
                </div>

                <div class="col-1 p-0 px-2">
                  <label>Total HT</label>
                </div>

                <div class="col-1 p-0 px-2">
                  <label>Total TTC</label>
                </div>

                <div class="col-1 p-0 px-2 d-flex justify-content-center">
                  <button type="button" title="Ajouter" class="btn btn-outline-success py-0" (click)="addOrderItem()">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body px-0 py-2">
              <div *ngFor="let item of selectedOrderForm.orderItems; let i = index" class="row col-12 m-0 p-0">
                <div class="col-2 p-1">
                  <my-dropdown-select class="form-control" [placeholder]="'Sélection de produit'"
                    [selectPlaceholder]="'search...'" [options]="payementOptions" [display]="'label'" [value]="'value'"
                    [multiple]="false" [labelCount]="0" [selectedOptions]="item.selectedproducts" >
                  </my-dropdown-select>
                </div>

                <div class="col-3 p-1">
                  <input type="text" [(ngModel)]="item.designation" [ngModelOptions]="{standalone: true}"
                    class="form-control" placeholder="Designation">
                </div>

                <div class="col-1 p-1">
                  <input type="number" min="1" class="form-control" [(ngModel)]="item.quantity"
                    [ngModelOptions]="{standalone: true}" (change)="calculate()">
                </div>

                <div class="col-1 p-1">
                  <input type="number" min="0" class="form-control" [(ngModel)]="item.price"
                    [ngModelOptions]="{standalone: true}" (change)="calculate()">
                </div>

                <div class="col-1 p-1">
                  <input type="number" min="0" max=100 class="form-control" [(ngModel)]="item.tva"
                    [ngModelOptions]="{standalone: true}"  (change)="calculate()">
                </div>

                <div class="col-1 p-1">
                  <input type="number" class="form-control" [(ngModel)]="item.remise"
                    [ngModelOptions]="{standalone: true}" (change)="calculate()">
                </div>

                <div class="col-1 p-1">
                  <input type="number" min="0.00" class="form-control" [disabled]="true" [(ngModel)]="item.totalHT"
                    [ngModelOptions]="{standalone: true}" >
                </div>

                <div class="col-1 p-1">
                  <input type="number" min="0.00" class="form-control" [disabled]="true" [(ngModel)]="item.totalTTC"
                    [ngModelOptions]="{standalone: true}">
                </div>

                <div class="col-1 p-1 d-flex justify-content-center align-items-center">
                  <span>
                    <i style="cursor: pointer;" class="cil-trash p-1 text-danger" (click)="deleteItem(i)"
                      title="Supprimer"></i>
                  </span>

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-8 px-1">
        </div>
        <div class="col-lg-4 px-1">
          <div class="card card-accent-info">
            <div class="form-group row px-2 pt-2">
              <label class=" col-md-6 col-form-label" for="select1">Total HT</label>
              <div class="col-6">
                <input type="number" [disabled]="true" [(ngModel)]="selectedOrderForm.totalHT"
                  [ngModelOptions]="{standalone: true}" class="form-control">
              </div>
            </div>
            <div class="form-group row px-2">
              <label class=" col-md-6 col-form-label" for="select1">Total TVA</label>
              <div class="col-6">
                <input type="number" [disabled]="true" [(ngModel)]="selectedOrderForm.totalTVA"
                  [ngModelOptions]="{standalone: true}" class="form-control">
              </div>
            </div>
            <div class="form-group row px-2 pb-0">
              <label class=" col-md-6 col-form-label" for="select1">Total TTC</label>
              <div class="col-6">
                <input type="number" [disabled]="true" [(ngModel)]="selectedOrderForm.totalTTC"
                  [ngModelOptions]="{standalone: true}" class="form-control">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
