table {
    width: 100%;
    padding-bottom: 20px;
}

.card-body {
    padding: 1.25rem 0;
}

.mat-icon-button {
    background: transparent;
}

.mat-icon-button:focus {
    background: transparent;
    outline: 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border: 0 solid silver;
    border-width: 0px 0px 0px 1px;
    padding: inherit;
    padding-left: 4px;
}

th.mat-header-cell:first-child,
td.mat-cell:first-child,
td.mat-footer-cell:first-child {
    border: 0;
    padding-left: 5px;
    }
    
    .mat-cell,
    .mat-footer-cell {
        font-size: 12px;
        font-weight: 500;
}

.mat-header-row {
    // height: auto;
        // line-height: 3;
        // background-image: -webkit-linear-gradient(top, #fff, #e3e3e3);
        height: auto;
        line-height: 2.8;
            background-color: #f6f6f6;
            background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f6f6f6));
            background-image: -moz-linear-gradient(top, #fff, #f6f6f6);
            background-image: -o-linear-gradient(top, #fff, #f6f6f6);
            background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);
            border: 1px solid silver;
            border-right-color: transparent !important;
            border-right-width: 1px !important;
            border-left-color: transparent !important;
            border-left-width: 1px !important;
            font-size: .875rem;
            font-family: "ProximaNova-Regular", Helvetica, Arial, sans-serif;
}

.mat-row {
    height: auto;
    line-height: 2.5;
}

.mat-row:nth-child(even) {
    background-color: #f4f4f4;
}
