<img src="assets/gif/loading.gif" alt="Loading" *ngIf="isFirstTime1 || isFirstTime2 || isFirstTime3"
  class="loadinger" />
<div class="animated fadeIn" [ngClass]="!(isFirstTime1 || isFirstTime2 || isFirstTime3)? '': 'd-none'">
 <div class="row">
  <div class="card-columns cols-2 col-lg">
 <!-- Vihecule Par Status -->
    <div class="card">
      <div class="card-header">
        Vihecule Par État
        <div class="card-header-actions">
          <a href="#">
            <small class="text-muted">Exporter</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [colors]="[{ backgroundColor: ['#12ff00de', '#00daffcc', '#ff0056de', '#006fffde' ]}]"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <!-- Top Kilometrages -->
    <div class="card">
      <div class="card-header">
        Top Kilometrages
        <div class="card-header-actions">
          <a href="#">
            <small class="text-muted">Exporter</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="KMData"
          [labels]="KMLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [colors]="[chartColours[0]]"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div class="row">
   
  <div class="card-columns cols-2 col-lg">
    <!-- Top Vitesse -->
    <div class="card">
      <div class="card-header">
        Top Vitesse
        <div class="card-header-actions">
          <a href="#">
            <small class="text-muted">Exporter</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="VitesseData"
          [labels]="VitesseLabels"
          [options]="barChartOptions"
          [colors]="[chartColours[1]]"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <!-- Top Consommation -->
    <div class="card">
      <div class="card-header">
        Top Consommation
        <div class="card-header-actions">
          <a href="#">
            <small class="text-muted">Exporter</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="ConsommationData"
          [labels]="ConsommationLabels"
          [options]="barChartOptions"
          [colors]="[chartColours[2]]"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
   </div>
 </div>
 <div class="row">
  <div class="card-columns cols-2 col-lg">
    <!-- Top curve Consommation -->
    <!-- <div class="card">
      <div class="card-header">
        Top Consommation
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div> -->
    <!-- Top curve Vitesse -->
    <!-- <div class="card">
      <div class="card-header">
        Top curve Vitesse
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div> -->
  </div>
</div>
</div>
