#leftCard {
    height: 77vh;
    // min-height: 77vh;
    // max-height: 77vh;
    margin-right: 0;


    table {
        width: 100%;
    }
}


#mapDetail {
    min-height: 42vh;
    max-height: 42vh;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 15px;
}

#trajets {
    min-height: 35vh;
    max-height: 35vh;
    width: 100%;
    margin-right: 0;
}

.divider {
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 80%;
    margin: auto;
}