<!-- <div class="container"> -->

<div class="row justify-content-between align-items-center">
    <my-menu-card class="col-6" title='Vitesse' subtitle="Ajouter ou Modifier une règle d'alert relative à Vitesse"
        [routerLink]="['/notif-ruls/vitesse']" icon="cil-speedometer" underlineColor="bg-info">
    </my-menu-card>
    <my-menu-card class="col-6" title='Zone' subtitle="Ajouter ou Modifier une règle d'alert relative à des Zones"
        [routerLink]="['/notif-ruls/vitesse']" icon="cil-scrubber" underlineColor="bg-success">
    </my-menu-card>
    <my-menu-card class="col-6" title='Carburant' subtitle="Ajouter ou Modifier une règle d'alert relative à Carburant"
        [routerLink]="['/notif-ruls/vitesse']" icon="cil-color-fill" underlineColor="bg-primary">
    </my-menu-card>
</div>

<!-- </div> -->