<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-accent-info">
        <div class="card-header">
          <i class="fa fa-edit"></i> Rapports Détaillés
          <div class="card-header-actions">
            <app-dropdown-export (export)="exporter($event)" ></app-dropdown-export>
            <!-- <span class="dropdown" dropdown placement="bottom">
              <button type="button" dropdownToggle (click)="false" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false" class="btn btn-square btn-link">
              <i class="icon-cloud-download mr-2"></i><small class="text-muted mr-3">Exporter</small>
            </button>
              <div class="dropdown-menu dropdown-menu-center" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong></strong></div>
                <button class="dropdown-item" (click)="exporter(0)"><i class="fa fa-file-excel-o text-success"
                    style="font-size: large;"></i> Excel</button>
                <button class="dropdown-item" (click)="exporter(1)"><i class="fa fa-file-pdf-o text-danger"
                    style="font-size: large;"></i>
                  Pdf</button>
              </div>
              </span> -->
            <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()">
              <i class="{{ iconCollapse }}  transition"></i>
            </button>
            <button type="button" class="card-header-action btn btn-link btn-close" (click)="reset()">
              <i class="icon-close"></i>
            </button>
          </div>
        </div>
        <div [collapse]="isCollapsed" [isAnimated]="true" class="card-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-5">
                <my-daterangepicker #calendar [ngModelOptions]="{ standalone: true }" [(ngModel)]="value"
                  [options]="myDateRangePickerOptions"></my-daterangepicker>
              </div>
              <div class="col-md-4">
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-car fa-sm"></i></span>
                    </div>
                    <my-dropdown-select class="form-control" [placeholder]="'Sélection de véhicule'"
                      [selectPlaceholder]="'search...'" [errorMsg]="errorMessageDevice" [showErrorMsg]="showErrorDevice"
                      [options]="devices" [display]="'name'" [value]="'dID'" [multiple]="false" [labelCount]="0"
                      [selectedOptions]="selectedDevices" (selectionChange)="getSelectedDevices($event)">
                    </my-dropdown-select>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-key fa-sm" *ngIf="selectedDevice == null"></i><i
                          *ngIf="selectedDevice != null">{{
                          selectedDevice
                          }}</i></span>
                    </div>
                  </div>
                  <!--</div> -->
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-sm btn-primary" (click)="submit()" [disabled]="loading">
                  <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
                  <i class="fa fa-circle-o-notch fa-lg mr-2 fa-spin" *ngIf="loading"></i> &nbsp;Appliquer
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <!-- Nav tabs -->
      <div class="card-header-actions">
      </div>
      <tabset>
        <tab style="min-height: 600px" (selectTab)="selectTab(0)" [active]="selectedTab==0">
          <ng-template tabHeading><i class="icon-calculator"></i> Resume &nbsp;</ng-template>
          <div class="row">
            <div class="col-sm-6 col-lg-3" *ngFor="let el of resume; let index=index">
              <div class="brand-card">
                <div class="brand-card-header bg-{{resumeColors[index]}}">
                  <div class="chart-wrapper">
                    <canvas baseChart class="chart" [datasets]="el.data" [labels]="el.labels" height="75"
                      [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="resumeChartLegend"
                      [chartType]="chartType">
                    </canvas>
                  </div>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{el.val +' '+ resumeUnits[el.key]}}</div>
                    <div class="text-uppercase text-muted small">{{ el.label}}</div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
        </tab>

        <tab style="min-height: 600px" (selectTab)="selectTab(1)" [active]="selectedTab==1">
          <ng-template tabHeading>
            <i class="icon-list mr-1"></i>
            Trajet
            {{!isArret?'sans':'avec'}} Parking &nbsp;
          </ng-template>
          <!-- <input id="s1" type="checkbox" class="switch" [(ngModel)]="isArret" [ngModelOptions]="{standalone: true}">
                                        <label for="s1" class="ml-2">Basculer vers Trajet {{isArret?'sans':'avec'}} Parking &nbsp;</label> -->
          <my-data-table class="detailtable" [tableID]="TrajetDetaillID" (positionClick)="openMap($event)" [isTrajet]="1"
            (showArretChange)="showArretChange($event)"
            [selectedMapDevice]="selectedMapDevice"
            [data]="isArret?reportData:reportDataTrajet" [columnNames]="displayedColumns" [columns]="columns">
          </my-data-table>
        </tab>

        <tab style="min-height: 600px" (selectTab)="showTrajet()" [active]="selectedTab==4">
          <ng-template tabHeading class="card-header-action btn-secondary">
            <i class="fa fa-map mr-1"></i> Afficher Trajet &nbsp;
            <i class="fa fa-refresh" (click)="showTrajet()"></i>
          </ng-template>
          <div class="text-danger mb-2"> &nbsp;[Seuls les enregistrements des 3 derniers jours au
            maximum
            de la période sélectionnée sont affichés]</div>
          <modal-map [mapID]="'mapTrajet'" [vehiculeID]="trajetSelectedDevice" [startTime]="trajetStartTime"
            [endTime]="trajetEndTime" [ToInvalidate]="ToInvalidate">
          </modal-map>
        </tab>

        <tab style="min-height: 600px" (selectTab)="selectTab(5)" [active]="selectedTab==5">
          <ng-template tabHeading>
            <i class="icon-list mr-2"></i>Parking &nbsp;
          </ng-template>
          <my-data-table class="detailtable" [tableID]="ParkingDetaillID" (positionClick)="openMap($event)" [isTrajet]="0"
            (openPointsClick)="openMapArrets($event)"
            [selectedMapDevice]="selectedMapDevice"
            [data]="reportDataArrets" [columnNames]="displayedColumnsArrets" [columns]="columnsArrets">
          </my-data-table>
        </tab>

        <tab style="min-height: 600px" (selectTab)="getEvolution()" [active]="selectedTab==2">
          <ng-template tabHeading>
            <i class="icon-pie-chart mr-1"></i> Evolution &nbsp;<i class="fa fa-refresh" (click)="getEvolution(true)"></i>
          </ng-template>
          <mat-progress-bar mode="indeterminate" *ngIf="loadingcharts" class="bg-primary"></mat-progress-bar>
          <div class="card">
            <div class="card-header">
              Graphes des evolutions <span class="text-danger"> &nbsp;[Seuls les enregistrements des 3 derniers jours au
                maximum
                de la période sélectionnée sont affichés]</span>
            </div>
            <div class="card-body">
              <div class="chart-wrapper" style="height:300px;margin-top:40px; overflow-x: scroll;">
                <canvas baseChart class="chart" [datasets]="vitesseChartData" [labels]="chartLabels"
                  [options]="chartOptions" [colors]="vitesseChartColours" [legend]="chartLegend"
                  [chartType]="chartType"></canvas>
              </div>
              <div class="chart-wrapper" style="height:300px;margin-top:40px; overflow-x: scroll;">
                <canvas baseChart class="chart" [datasets]="fuelChartData" [labels]="chartLabels"
                  [options]="chartOptions" [colors]="fuelChartColours" [legend]="chartLegend"
                  [chartType]="chartType"></canvas>
              </div>
              <div class="chart-wrapper" style="height:300px;margin-top:40px; overflow-x: scroll;">
                <canvas baseChart class="chart" [datasets]="tempChartData" [labels]="chartLabels"
                  [options]="chartOptions" [colors]="tempChartColours" [legend]="chartLegend"
                  [chartType]="chartType"></canvas>
              </div>
            </div>
          </div>
        </tab>

        <tab style="min-height: 600px" (selectTab)="selectTab(3)" [active]="selectedTab==3">
          <ng-template tabHeading class="card-header-action btn-secondary">
            <i class="fa fa-list-alt mr-1"></i> Evenements Détaillés &nbsp;
            <!-- <i class="fa fa-refresh" (click)="getdetails()"></i>-->
          </ng-template>
          <details-table [url]="urldetails" [exportEvts]="exportEvts" [tableID]="DetaillID" (positionClick)="openMap($event)"
            [selectedMapDevice]="selectedMapDevice" (exportEvents)="exportEvents($event)">

          </details-table>
        </tab>

        <tab style="min-height: 600px" (selectTab)="selectTab(6)" [active]="selectedTab==6">
          <ng-template tabHeading>
            <i class="icon-list mr-2"></i>Pose Carburant &nbsp;
          </ng-template>
          <my-carburant-data-table class="detailtable" (positionClick)="openMap($event)" (openPointsClick)="openMapPoints($event)"
            [selectedMapDevice]="selectedMapDevice" [data]="reportDataCarburant" [columnNames]="displayedColumnsCarburant"
            [columns]="columnsCarburant">
          </my-carburant-data-table>
        </tab>

        <tab style="min-height: 600px" (selectTab)="selectTab(7)" [active]="selectedTab==7">
          <ng-template tabHeading>
            <i class="icon-list mr-2"></i>Carburant Réel &nbsp;
          </ng-template>
          <my-carburant-data-table class="detailtable" (positionClick)="openMap($event)" (openPointsClick)="openMapPoints($event)"
            [selectedMapDevice]="selectedMapDevice" [data]="reportDataCarburant" [columnNames]="dColumnsRealCarburant"
            [columns]="columnsRealCarburant">
          </my-carburant-data-table>
        </tab>
      </tabset>

    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div bsModal #primaryModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Map : {{selectedMapDeviceName}} | {{interval}}</h5>
          <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 4px;">
          <div class="animated fadeIn">
            <modal-map [mapID]="'mapDetails'" [timestamps]="timestamps" [vehiculeID]="selectedMapDevice" [startTime]="startTime"
              [endTime]="endTime">
            </modal-map>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Fermer</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
