<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-accent-info">
        <div class="card-header">
          <i class="fa fa-edit"></i> Rapports Synthétiques
          <div class="card-header-actions">
            <a href="#">
              <i class="icon-cloud-download mr-2"></i><small class="text-muted mr-3">Exporter</small>
            </a>
            <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()">
              <i class="{{ iconCollapse }}  transition"></i>
            </button>
          </div>
        </div>
        <div [collapse]="isCollapsed" [isAnimated]="true" class="card-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-5">
                <my-daterangepicker #calendar [ngModelOptions]="{ standalone: true }" [(ngModel)]="value"
                  [options]="myDateRangePickerOptions"></my-daterangepicker>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-sm btn-primary" (click)="submit()" [disabled]="loading">
                  <i class="fa fa-dot-circle-o" *ngIf="!loading"></i>
                  <i class="fa fa-circle-o-notch fa-lg mr-2 fa-spin" *ngIf="loading"></i> &nbsp;Appliquer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <mat-progress-bar mode="indeterminate" *ngIf="loading" class="bg-primary"></mat-progress-bar>
      <my-synthetiques-table [data]="data">
      </my-synthetiques-table>
    </div>
  </div>
</div>