<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-accent-info">
        <div class="card-header">
          <i class="fa fa-edit"></i> Rapports Journalier
          <div class="card-header-actions">
            <button
              type="button"
              class="card-header-action btn btn-link btn-setting"
            >
              <i class="icon-settings"></i>
            </button>
            <button
              type="button"
              class="card-header-action btn btn-link btn-minimize"
              (click)="toggleCollapse()"
            >
              <i class="{{ iconCollapse }}"></i>
            </button>
            <button
              type="button"
              class="card-header-action btn btn-link btn-close"
              (click)="reset()"
            
            >
              <i class="icon-close"></i>
            </button>
          </div>
        </div>
        <div [collapse]="isCollapsed" [isAnimated]="true" class="card-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-4">
                <my-daterangepicker
                  #calendar
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="value"
                  [options]="myDateRangePickerOptions"
                ></my-daterangepicker>
              </div>
              <div class="col-md-4">
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-car fa-sm"></i
                      ></span>
                    </div>
                    <my-dropdown-select
                      class="form-control"
                      [placeholder]="'Vehicle Selection'"
                      [selectPlaceholder]="'search...'"
                      [errorMsg]="errorMessageDevice"
                      [showErrorMsg]="showErrorDevice"
                      [options]="devices"
                      [display]="'name'"
                      [value]="'dID'"
                      [multiple]="false"
                      [labelCount]="0"
                      [selectedOptions]="selectedDevices"
                      (selectionChange)="getSelectedDevices($event)"
                    >
                    </my-dropdown-select>
                    <div class="input-group-append">
                      <span class="input-group-text"
                        ><i
                          class="fa fa-key fa-sm"
                          *ngIf="selectedDevice.length == 0"
                        ></i
                        ><i *ngIf="selectedDevice != null">{{
                          selectedDevice
                        }}</i></span
                      >
                    </div>
                  </div>
                  <!--</div> -->
                </div>
              </div>

              <div class="col-md-4">
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-filter fa-sm"></i
                      ></span>
                    </div>
                    <my-dropdown-select
                      class="form-control"
                      [placeholder]="'Select a Condition on Trip'"
                      [selectPlaceholder]="'search...'"
                      [options]="kmConditions"
                      [display]="'label'"
                      [value]="'data'"
                      [multiple]="false"
                      [labelCount]="0"
                      [selectedOptions]="selectedkmConditions"
                      (selectionChange)="getSelectedkmConditions($event)"
                    >
                    </my-dropdown-select>
                    <div class="input-group-append">
                      <button
                      type="button"
                      class="input-group-text"
                      (click)="resetkm()"
                     >
                     <i *ngIf="selectedkm != null">KM</i>
                    </button>
                    </div>
                  </div>
                  <!--</div> -->
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <mat-select
                        [(value)]="selectedType1"
                        class="btn btn-primary text-white"
                      >
                        <mat-option value="0"
                          ><i class="icon-chart icons text-primary"></i
                        ></mat-option>
                        <mat-option value="1"
                          ><i class="icon-graph icons text-primary"></i
                        ></mat-option>
                        <mat-option value="2"
                          ><i class="icon-pie-chart icons text-primary"></i
                        ></mat-option>
                        <mat-select-trigger>
                          <i
                            *ngIf="selectedType1 == '0'"
                            class="icon-chart icons text-white"
                          ></i>
                          <i
                            *ngIf="selectedType1 == '1'"
                            class="icon-graph icons text-white"
                          ></i>
                          <i
                            *ngIf="selectedType1 == '2'"
                            class="icon-pie-chart icons text-white"
                          ></i>
                        </mat-select-trigger>
                      </mat-select>
                    </div>
                    <my-dropdown-select
                      class="form-control"
                      [placeholder]="'Select a Value'"
                      [selectPlaceholder]="'search...'"
                      [errorMsg]="errorMessageparams"
                      [showErrorMsg]="showErrorparams"
                      [options]="params"
                      [display]="'label'"
                      [value]="'data'"
                      [multiple]="false"
                      [labelCount]="0"
                      [selectedOptions]="selectedparams1"
                      (selectionChange)="getSelectedparams1($event)"
                    >
                    </my-dropdown-select>
                    <div class="input-group-append">
                      <button
                      type="button"
                      class="input-group-text"
                      (click)="resetparam1()"
                     >
                     <i *ngIf="selectedparam1 != null">x</i>
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <mat-select
                        [(value)]="selectedType2"
                        class="btn btn-warning text-white"
                      >
                        <mat-option value="0"
                          ><i class="icon-chart icons text-primary"></i
                        ></mat-option>
                        <mat-option value="1"
                          ><i class="icon-graph icons text-primary"></i
                        ></mat-option>
                        <mat-option value="2"
                          ><i class="icon-pie-chart icons text-primary"></i
                        ></mat-option>
                        <mat-select-trigger>
                          <i
                            *ngIf="selectedType2 == '0'"
                            class="icon-chart icons text-white"
                          ></i>
                          <i
                            *ngIf="selectedType2 == '1'"
                            class="icon-graph icons text-white"
                          ></i>
                          <i
                            *ngIf="selectedType2 == '2'"
                            class="icon-pie-chart icons text-white"
                          ></i>
                        </mat-select-trigger>
                      </mat-select>
                    </div>
                    <my-dropdown-select
                      class="form-control"
                      [placeholder]="'Select a Value'"
                      [selectPlaceholder]="'search...'"
                      [errorMsg]="errorMessageparams"
                      [showErrorMsg]="showErrorparams"
                      [options]="params"
                      [display]="'label'"
                      [value]="'data'"
                      [multiple]="false"
                      [labelCount]="0"
                      [selectedOptions]="selectedparams2"
                      (selectionChange)="getSelectedparams2($event)"
                    >
                    </my-dropdown-select>
                    <div class="input-group-append">
                      <button
                      type="button"
                      class="input-group-text"
                      (click)="resetparam2()"
                     >
                     <i *ngIf="selectedparam2 != null">x</i>
                    </button>
                    </div>
                  </div>
                  <!--</div> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <mat-select
                        [(value)]="selectedType3"
                        class="btn btn-danger text-white"
                      >
                        <mat-option value="0"
                          ><i class="icon-chart icons text-primary"></i
                        ></mat-option>
                        <mat-option value="1"
                          ><i class="icon-graph icons text-primary"></i
                        ></mat-option>
                        <mat-option value="2"
                          ><i class="icon-pie-chart icons text-primary"></i
                        ></mat-option>
                        <mat-select-trigger>
                          <i
                            *ngIf="selectedType3 == '0'"
                            class="icon-chart icons text-white"
                          ></i>
                          <i
                            *ngIf="selectedType3 == '1'"
                            class="icon-graph icons text-white"
                          ></i>
                          <i
                            *ngIf="selectedType3 == '2'"
                            class="icon-pie-chart icons text-white"
                          ></i>
                        </mat-select-trigger>
                      </mat-select>
                    </div>
                    <my-dropdown-select
                      class="form-control"
                      [placeholder]="'Select a Value'"
                      [selectPlaceholder]="'search...'"
                      [errorMsg]="errorMessageparams"
                      [showErrorMsg]="showErrorparams"
                      [options]="params"
                      [display]="'label'"
                      [value]="'data'"
                      [multiple]="false"
                      [labelCount]="0"
                      [selectedOptions]="selectedparams3"
                      (selectionChange)="getSelectedparams3($event)"
                    >
                    </my-dropdown-select>
                    <div class="input-group-append">
                        <button
                          type="button"
                          class="input-group-text"
                          (click)="resetparam3()"
                         >
                         <i *ngIf="selectedparam3 != null">x</i>
                        </button>
                    </div>
                  </div>
                  <!--</div> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <mat-select
                        [(value)]="selectedType4"
                        class="btn btn-dark text-white"
                      >
                        <mat-option value="0"
                          ><i class="icon-chart icons text-primary"></i
                        ></mat-option>
                        <mat-option value="1"
                          ><i class="icon-graph icons text-primary"></i
                        ></mat-option>
                        <mat-option value="2"
                          ><i class="icon-pie-chart icons text-primary"></i
                        ></mat-option>
                        <mat-select-trigger>
                          <i
                            *ngIf="selectedType4 == '0'"
                            class="icon-chart icons text-white"
                          ></i>
                          <i
                            *ngIf="selectedType4 == '1'"
                            class="icon-graph icons text-white"
                          ></i>
                          <i
                            *ngIf="selectedType4 == '2'"
                            class="icon-pie-chart icons text-white"
                          ></i>
                        </mat-select-trigger>
                      </mat-select>
                    </div>
                    <my-dropdown-select
                      class="form-control"
                      [placeholder]="'Select a Value'"
                      [selectPlaceholder]="'search...'"
                      [errorMsg]="errorMessageparams"
                      [showErrorMsg]="showErrorparams"
                      [options]="params"
                      [display]="'label'"
                      [value]="'data'"
                      [multiple]="false"
                      [labelCount]="0"
                      [selectedOptions]="selectedparams4"
                      (selectionChange)="getSelectedparams4($event)"
                    >
                    </my-dropdown-select>
                    <div class="input-group-append">
                      <button
                      type="button"
                      class="input-group-text"
                      (click)="resetparam4()"
                     >
                     <i *ngIf="selectedparam4 != null">x</i>
                    </button>
                    </div>
                  </div>
                  <!--</div> -->
                </div>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-sm btn-primary" (click)="submit()">
                <i class="fa fa-dot-circle-o"></i> &nbsp;Apply
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <!-- Nav tabs -->
      <tabset>
        <tab style="min-height: 660px">
          <ng-template tabHeading
            ><i class="icon-calculator" ></i> Resume &nbsp;</ng-template>
          <div class="row">
            <div class="col-sm-6 col-lg-3" *ngFor="let el of resume; let index=index">
              <div class="brand-card">
                <div class="brand-card-header bg-{{resumeColors[index]}}">
                  <div class="chart-wrapper">
                    <canvas baseChart class="chart"
                    [datasets]="el.data"
                    [labels]="el.labels"
                    height="100"
                    [options]="brandBoxChartOptions"
                    [colors]="brandBoxChartColours"
                    [legend]="brandBoxChartLegend"
                    [chartType]="brandBoxChartType"
                >
                  </canvas>
                  </div>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{el.val}}</div>
                    <div class="text-uppercase text-muted small">{{ el.label}}</div>
                  </div>
                </div>
              </div>
            </div><!--/.col-->
          </div>
        </tab>
        <tab style="min-height: 660px">
          <ng-template tabHeading>
            <i class="icon-list"></i>
             Table &nbsp;
          </ng-template>
          <my-data-table [data]="reportData" [columnNames]="displayedColumns" [columns]="columns">

            
          </my-data-table>
        </tab>
        <tab style="min-height: 660px">
          <ng-template tabHeading>
            <i class="icon-pie-chart"></i> 
            Charts
            </ng-template>

          <div class="card" style="min-height: 660px">
            <div class="card-header">
              Bar Chart
              <div class="card-header-actions">
                <a href="http://google.com">
                  <small class="text-muted">Download</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas
                  baseChart
                  class="chart"
                  height="100"
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                 
                ></canvas>
              </div>
            </div>
          </div>
        </tab>
        <tab style="min-height: 660px">
          <ng-template tabHeading>
            <button
              type="button"
              (click)="getdetails()"
            >
            <i class="fa fa-list-alt"></i> Details &nbsp;
          </button>
          </ng-template>
            <my-data-table [data]="reportDetails"  [columnNames]="displayedColumns" [columns]="columns">

            
            </my-data-table>
        </tab>
      </tabset>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
