// Here you can add other styles
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap');

@import '~leaflet-geosearch/dist/geosearch.css';

@for $i from 0 through 359 {
    .rotate-#{$i} {
        transform: rotateZ($i+deg);
    }
}

// .marker-transition {
//     transition: transform 1.5s ease;
// }
.main .container-fluid {
    padding: 0 10px;
}

.breadcrumb {
    margin-bottom: 0.5rem;
}

.my-div-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marker-transition {
    transition: transform 1s ease;
}

.marker-selected {
    background: url('../assets/gif/full.gif') center center;
    background-size: 70%;
    background-repeat: no-repeat;

    // .my-icon-img {
    //     padding: 15px;
    //     // border-radius: 50%;
    // }
}

.center-marker {
    position: absolute;
    width: 2px;
    height: 2px;
    z-index: 99999;
    background: yellow;
    top: 24px;
    // top: calc(50% - 2.5px);
    // left: calc(50% - 2.5px);
}

.my-icon-img {
    position: relative;
    margin-top: 5px;
    // object-fit: contain;
    height: 80%;
    filter: drop-shadow(0px 1px 3px #3030307d)
}

.my-icon-title {
    position: absolute;
    white-space: nowrap;
    // left: -25px;
    height: 20%;
    bottom: 0;
    font-size: 12px;
    color: red;
    font-weight: 700;
    text-shadow: -1px -1px 0 #d0cecf, -1px 1px 0 #d0cecf, 1px 1px 0 #d0cecf, 1px -1px 0 #d0cecf;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    font-family: Verdana,
        Arial,
        Tahoma,
        sans-serif;
}

.zones-tabs {
    .tab-pane {
        min-height: 78vh;
        max-height: 78vh;
        padding: 10px;
        overflow: hidden;

        .card-body {
            height: 78vh;
            overflow-y: scroll;
        }

        form {
            max-height: 78vh;
            overflow-y: scroll;
            padding-bottom: 10px;

            .form-group {
                .mat-form-field-wrapper {
                    padding-bottom: 8px;
                }

                .mat-form-field {
                    padding: 0 0 10px 0;
                }

                input.mat-input-element {
                    padding-bottom: 8px;
                }
            }
        }
    }

    .nav-tabs {
        justify-content: space-between;
    }
}


#leftCard {
    .mat-form-field-wrapper {
        padding-bottom: 12px;
        margin-bottom: -8px;
    }
}