// Here you can add other styles
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap');

@for $i from 0 through 359 {
    .rotate-#{$i} {
        transform: rotateZ($i+deg);
    }
}

// .marker-transition {
//     transition: transform 1.5s ease;
// }
.main .container-fluid {
    padding: 0 10px;
}

.breadcrumb {
    margin-bottom: 0.5rem;
}

.my-div-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marker-transition {
    transition: transform 1s ease;
}

.marker-selected {
    background: url('../assets/gif/full.gif') center center;
    background-size: 70%;
    background-repeat: no-repeat;

    // .my-icon-img {
    //     padding: 15px;
    //     // border-radius: 50%;
    // }
}

.center-marker {
    position: absolute;
    width: 2px;
    height: 2px;
    z-index: 99999;
    background: yellow;
    top: 24px;
    // top: calc(50% - 2.5px);
    // left: calc(50% - 2.5px);
}

.my-icon-img {
    position: relative;
    margin-top: 5px;
    // object-fit: contain;
    height: 80%;
}

.my-icon-title {
    position: absolute;
    white-space: nowrap;
    // left: -25px;
    height: 20%;
    bottom: 0;
    font-size: 11px;
    color: darkblue;
    font-weight: bold;
}