// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// If you want to add something do it here
@import "custom";

body {
    background-color: #f5f5f5;
}

#logoutBtn {
    cursor: pointer;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 26px;
    height: 26px;
    background-size: 20px;
}

.leaflet-control-container a:hover {
    text-decoration: none;
}

.leaflet-touch .leaflet-bar a {
    width: 26px;
    height: 26px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 1px solid rgb(0 0 0 / 48%);
    background-clip: padding-box;
}

.mat-checkbox {
    padding: 0;
}

.checkbox-all label {
    width: 100%;
    padding: 15px 20px;
}

.mat-checkbox-layout {
    width: 100%;
    padding: 15px 30px;
    margin: 0;
}

.mat-checkbox-label {
    flex-grow: 1;
}


.important-marker {
    z-index: 9999999999 !important;
}

.list-vehicules {
    transition: all 1.5s;
        overflow: hidden;
    
        .card-header {
            padding: 5px 5px 10px 5px;
    
            border-radius: 10px;
        }
    .card-body {
        overflow-y: scroll;
    }
}

.dropdown-table>div {
    z-index: 999999999999 !important;
}
.mcontrol {
    background: #fff no-repeat 0 0;
    background-size: 26px 52px;
    border-radius: 5px;
    border: 1px solid rgb(0 0 0 / 48%);
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: rgba(51, 181, 229, .4);
}

.mcontrol:focus {
    outline: none;
}

.detailtable{
    table{.mat-sort-header-content{font-size: xx-small;}}
}

.btn-sm{
    line-height: 2;
}